Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

modules_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

firebase_cmd_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

functions_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

deploy:cloud:functions:staging:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_staging
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

deploy:cloud:functions:production:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_production
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

Merge branch 'ai/at-2323-read-only-focus-lookup' into 'master'
  components/Analytics/AnalyticsConsentManager.js
  components/Analytics/AnalyticsConsentManager.test.js
Due: none

Fix iOS PWA bottom safe-area fill
  __tests__/WebShellScrollContainers.test.js
  components/Analytics/AnalyticsConsentManager.js
  components/Analytics/AnalyticsConsentManager.test.js
  functions/Assistant/toolSchemas.js
  functions/shared/FocusTaskService.js
  functions/shared/FocusTaskService.test.js
  web-bundler/index.html
  web/index.html
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2321-ios-pwa-full-height' into 'master'
  components/Analytics/AnalyticsConsentManager.js
  components/Analytics/AnalyticsConsentManager.test.js
  functions/Assistant/toolSchemas.js
  functions/shared/FocusTaskService.js
  functions/shared/FocusTaskService.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Fix iOS Google sign-in
  components/UIControls/LogInButton.js
  components/UIControls/LogInButton.test.js
  utils/backends/firestore.js
  utils/webFirebaseAuth.js
  utils/webFirebaseAuth.test.js
Due: none

Use daily chat messages for heartbeat chances
  components/AssistantDetailedView/Customizations/Heartbeat/HeartbeatChanceProperty.js
  components/AssistantDetailedView/Customizations/Heartbeat/HeartbeatStatusProperty.js
  functions/Assistant/assistantHeartbeat.js
  functions/Assistant/assistantHeartbeat.test.js
  functions/Assistant/assistantPreConfigTaskTopic.js
  functions/Assistant/assistantPreConfigTaskTopic.test.js
  functions/Assistant/heartbeatSettingsHelper.js
  functions/Assistant/heartbeatSettingsHelper.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Reset heartbeat chance after each check-in
  components/AssistantDetailedView/Customizations/Heartbeat/HeartbeatChanceProperty.js
  components/AssistantDetailedView/Customizations/Heartbeat/HeartbeatStatusProperty.js
  functions/Assistant/assistantHeartbeat.js
  functions/Assistant/assistantHeartbeat.test.js
  functions/Assistant/assistantPreConfigTaskTopic.js
  functions/Assistant/assistantPreConfigTaskTopic.test.js
  functions/Assistant/heartbeatSettingsHelper.js
  functions/Assistant/heartbeatSettingsHelper.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/WhatsApp/whatsAppDailyTopic.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Add offline support stages 1-2: connectivity signal + app shell precache
  AppNavigator.js
  CLAUDE.md
  OFFLINE_SUPPORT_PLAN.md
  __tests__/ServiceWorkerPrecache.test.js
  __tests__/utils/DailyAppReload.test.js
  components/AssistantDetailedView/Customizations/Heartbeat/HeartbeatChanceProperty.js
  components/AssistantDetailedView/Customizations/Heartbeat/HeartbeatStatusProperty.js
  components/NotesView/NotesDV/EditorView/NoteEditorContainer.js
  functions/Assistant/assistantHeartbeat.js
  functions/Assistant/assistantHeartbeat.test.js
  functions/Assistant/assistantPreConfigTaskTopic.js
  functions/Assistant/assistantPreConfigTaskTopic.test.js
  functions/Assistant/heartbeatSettingsHelper.js
  functions/Assistant/heartbeatSettingsHelper.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/WhatsApp/whatsAppDailyTopic.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  package-lock.json
  package.json
  redux/actions.js
  redux/store.js
  utils/DailyAppReload.js
  utils/Observers.js
  utils/connectionState.js
  utils/connectionState.test.js
  web-bundler/package-lock.json
  web-bundler/package.json
  web-bundler/service-worker.dev.js
  web-bundler/service-worker.js
  web-bundler/webpack.config.js
  web/service-worker.js
Due: modules_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Add offline support stage 3: Firestore IndexedDB persistence
  CLAUDE.md
  OFFLINE_SUPPORT_PLAN.md
  utils/InitialLoad/bootIntegrityHealer.js
  utils/InitialLoad/bootIntegrityHealer.test.js
  utils/backends/firestore.js
  utils/backends/firestorePersistence.js
  utils/backends/firestorePersistence.test.js
Due: none

Add offline support stage 4: render cached Firestore data
  CLAUDE.md
  OFFLINE_SUPPORT_PLAN.md
  utils/backends/cachedSnapshotGate.js
  utils/backends/cachedSnapshotGate.test.js
  utils/backends/doneTasks.js
  utils/backends/firestore.js
  utils/backends/openTasks.js
  utils/backends/workflowTasks.js
Due: none

Add offline support stage 5: offline-tolerant boot
  AppContent.js
  CLAUDE.md
  OFFLINE_SUPPORT_PLAN.md
  utils/InitialLoad/loggedUserHelper.js
  utils/UserDataCache.js
  utils/UserDataCache.test.js
  utils/connectionState.js
  utils/connectionState.test.js
Due: none

Add offline support stage 6: offline-durable notes editing
  CLAUDE.md
  OFFLINE_SUPPORT_PLAN.md
  components/NotesView/NotesDV/EditorView/NoteEditorContainer.js
  components/NotesView/NotesDV/EditorView/NotesEditorView.js
  components/NotesView/NotesDV/EditorView/noteCollaborationRecovery.js
  components/NotesView/NotesDV/EditorView/noteCollaborationRecovery.test.js
  components/NotesView/NotesDV/EditorView/noteLocalPersistence.js
  components/NotesView/NotesDV/EditorView/noteLocalPersistence.test.js
  components/UIComponents/FloatModals/PrivacyModal/PrivacyModal.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  package-lock.json
  package.json
  utils/backends/Notes/notesFirestore.js
Due: modules_cache

Keep privacy editors visible
  components/UIComponents/FloatModals/PrivacyModal/PrivacyModal.js
  components/UIComponents/FloatModals/PrivacyModal/privacyAccess.js
  components/UIComponents/FloatModals/PrivacyModal/privacyAccess.test.js
Due: none

Add offline support stage 7: online-only surfaces fail fast
  CLAUDE.md
  OFFLINE_SUPPORT_PLAN.md
  components/Feeds/CommentsTextInput/MentionsModal.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/firestore.js
  utils/typesenseSearch.js
  utils/typesenseSearch.test.js
Due: none

Add offline support stage 8: real-browser offline test suite
  CLAUDE.md
  OFFLINE_SUPPORT_PLAN.md
  browser-tests/README.md
  browser-tests/offline/harness.entry.js
  browser-tests/offline/run.js
Due: none

Merge master: brings privacyAccess helper for the PrivacyModal change
  components/AssistantDetailedView/Customizations/Heartbeat/HeartbeatChanceProperty.js
  components/AssistantDetailedView/Customizations/Heartbeat/HeartbeatStatusProperty.js
  components/UIComponents/FloatModals/PrivacyModal/privacyAccess.js
  components/UIComponents/FloatModals/PrivacyModal/privacyAccess.test.js
  functions/Assistant/assistantHeartbeat.js
  functions/Assistant/assistantHeartbeat.test.js
  functions/Assistant/assistantPreConfigTaskTopic.js
  functions/Assistant/assistantPreConfigTaskTopic.test.js
  functions/Assistant/heartbeatSettingsHelper.js
  functions/Assistant/heartbeatSettingsHelper.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/WhatsApp/whatsAppDailyTopic.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Make the SW config guard runnable without web-bundler node_modules
  __tests__/ServiceWorkerPrecache.test.js
Due: none

Rename workflow bypass completion label
  components/Suggeted/SuggestedActions.test.js
  components/Suggeted/SuggestedEmailTaskBypass.test.js
  components/Suggeted/SuggestedModal.test.js
  components/Suggeted/suggestedTaskBypass.js
  components/WorkflowModal/BypassWorkflowButton.js
  components/WorkflowModal/BypassWorkflowButton.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Document that sign-in QA must run on staging live, not preview channels
  CLAUDE.md
Due: none

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*
