Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*

fix(auth): stop signing the user out when startup data is malformed
  AppContent.js
  __tests__/utils/Auth/authErrorHelper.test.js
  __tests__/utils/InitialLoad/loadInitialDataForLoggedUser.test.js
  __tests__/utils/InitialLoad/projectsInitialDataHelper.test.js
  components/TaskListView/Header/ProjectHeader.js
  components/TaskListView/Header/TagsArea.js
  components/TaskListView/Header/TagsArea.test.js
  utils/Auth/authErrorHelper.js
  utils/InitialLoad/initialLoadHelper.js
  utils/InitialLoad/loggedUserHelper.js
  utils/InitialLoad/projectsInitialDataHelper.js
  utils/backends/Users/usersFirestore.js
Due: none

fix(suggested): reject icon for reject actions and center confirm dialogs on mobile (AT-2210)
  AppContent.js
  __tests__/UIComponents/ConfirmPopup.test.js
  __tests__/utils/Auth/authErrorHelper.test.js
  __tests__/utils/InitialLoad/loadInitialDataForLoggedUser.test.js
  __tests__/utils/InitialLoad/projectsInitialDataHelper.test.js
  components/ProjectDetailedView/ProjectProperties/CopyProject/EndCopyProjectNotification.js
  components/Suggeted/SuggestedActions.js
  components/Suggeted/SuggestedActions.test.js
  components/Suggeted/SuggestedBulkActions.js
  components/Suggeted/SuggestedBulkActions.test.js
  components/UIComponents/AccessDeniedPopup.js
  components/UIComponents/ConfirmPopup.js
  utils/Auth/authErrorHelper.js
  utils/InitialLoad/initialLoadHelper.js
  utils/InitialLoad/loggedUserHelper.js
  utils/InitialLoad/projectsInitialDataHelper.js
  utils/backends/Users/usersFirestore.js
Due: none

chore(functions): stop emitting per-invocation debug traces to production logs
  __tests__/UIComponents/ConfirmPopup.test.js
  components/ProjectDetailedView/ProjectProperties/CopyProject/EndCopyProjectNotification.js
  components/Suggeted/SuggestedActions.js
  components/Suggeted/SuggestedActions.test.js
  components/Suggeted/SuggestedBulkActions.js
  components/Suggeted/SuggestedBulkActions.test.js
  components/UIComponents/AccessDeniedPopup.js
  components/UIComponents/ConfirmPopup.js
  functions/Assistant/assistantHelper.js
  functions/Projects/onUpdateProjectFunctions.js
  functions/Tasks/onCreateTaskFunctions.js
  functions/Tasks/onUpdateTaskFunctions.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2210-reject-all-icon-and-mobile-centering' into 'master'
  __tests__/UIComponents/ConfirmPopup.test.js
  components/ProjectDetailedView/ProjectProperties/CopyProject/EndCopyProjectNotification.js
  components/Suggeted/SuggestedActions.js
  components/Suggeted/SuggestedActions.test.js
  components/Suggeted/SuggestedBulkActions.js
  components/Suggeted/SuggestedBulkActions.test.js
  components/TaskListView/Header/ProjectHeader.js
  components/TaskListView/Header/TagsArea.js
  components/TaskListView/Header/TagsArea.test.js
  components/UIComponents/AccessDeniedPopup.js
  components/UIComponents/ConfirmPopup.js
  functions/Assistant/assistantHelper.js
  functions/Projects/onUpdateProjectFunctions.js
  functions/Tasks/onCreateTaskFunctions.js
  functions/Tasks/onUpdateTaskFunctions.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

feat(assistant): show tool progress in human language with search terms
  __tests__/UIComponents/ConfirmPopup.test.js
  components/ChatsView/ChatDV/EditorView/AssistantProgress.js
  components/ChatsView/ChatDV/EditorView/AssistantProgress.test.js
  components/ProjectDetailedView/ProjectProperties/CopyProject/EndCopyProjectNotification.js
  components/Suggeted/SuggestedActions.js
  components/Suggeted/SuggestedActions.test.js
  components/Suggeted/SuggestedBulkActions.js
  components/Suggeted/SuggestedBulkActions.test.js
  components/TaskListView/Header/ProjectHeader.js
  components/TaskListView/Header/TagsArea.js
  components/TaskListView/Header/TagsArea.test.js
  components/UIComponents/AccessDeniedPopup.js
  components/UIComponents/ConfirmPopup.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantProgressStatus.js
  functions/Assistant/assistantProgressStatus.test.js
  functions/Assistant/assistantToolActivity.js
  functions/Assistant/assistantToolActivity.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2216-human-readable-tool-progress' into 'master'
  __tests__/UIComponents/ConfirmPopup.test.js
  components/ProjectDetailedView/ProjectProperties/CopyProject/EndCopyProjectNotification.js
  components/Suggeted/SuggestedActions.js
  components/Suggeted/SuggestedActions.test.js
  components/Suggeted/SuggestedBulkActions.js
  components/Suggeted/SuggestedBulkActions.test.js
  components/TaskListView/Header/ProjectHeader.js
  components/TaskListView/Header/TagsArea.js
  components/TaskListView/Header/TagsArea.test.js
  components/UIComponents/AccessDeniedPopup.js
  components/UIComponents/ConfirmPopup.js
Due: none

fix(goals): react immediately when a goal is postponed by swipe (AT-2160)
  __tests__/TaskListView/GoalPostponeOptimisticHide.test.js
  __tests__/UIComponents/ConfirmPopup.test.js
  __tests__/redux/optimisticGoalPostpone.test.js
  components/ChatsView/ChatDV/EditorView/AssistantProgress.js
  components/ChatsView/ChatDV/EditorView/AssistantProgress.test.js
  components/GoalsView/useOptimisticGoalPostponeHidden.js
  components/GoalsView/useOptimisticGoalPostponeHidden.test.js
  components/ProjectDetailedView/ProjectProperties/CopyProject/EndCopyProjectNotification.js
  components/Suggeted/SuggestedActions.js
  components/Suggeted/SuggestedActions.test.js
  components/Suggeted/SuggestedBulkActions.js
  components/Suggeted/SuggestedBulkActions.test.js
  components/TaskListView/Header/ProjectHeader.js
  components/TaskListView/Header/TagsArea.js
  components/TaskListView/Header/TagsArea.test.js
  components/TaskListView/OpenTasksView/EmptyGoal.js
  components/TaskListView/OpenTasksView/ParentGoalSection.js
  components/UIComponents/AccessDeniedPopup.js
  components/UIComponents/ConfirmPopup.js
  components/UIComponents/DueDateSinglePopup.js
  components/UIComponents/DueDateSinglePopup.test.js
  components/UIComponents/FloatModals/DueDateModal/AutoPostpone.js
  components/UIComponents/FloatModals/DueDateModal/AutoPostpone.test.js
  components/UIComponents/FloatModals/DueDateModal/DueDateModal.js
  components/UIComponents/FloatModals/DueDateModal/applyPostponeToGoalTaskList.js
  components/UIComponents/FloatModals/DueDateModal/applyPostponeToGoalTaskList.test.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantProgressStatus.js
  functions/Assistant/assistantProgressStatus.test.js
  functions/Assistant/assistantToolActivity.js
  functions/Assistant/assistantToolActivity.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  redux/actions.js
  redux/store.js
  utils/backends/Goals/optimisticGoalPostpone.js
  utils/backends/Goals/optimisticGoalPostpone.test.js
  utils/backends/Tasks/tasksFirestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

docs(chats): correct the measured scale of the All Projects chats screen
  __tests__/TaskListView/GoalPostponeOptimisticHide.test.js
  __tests__/redux/optimisticGoalPostpone.test.js
  components/ChatsView/ChatItem.js
  components/ChatsView/ChatItem.loadingSelector.test.js
  components/ChatsView/ChatsByProject.js
  components/ChatsView/ChatsByProject.test.js
  components/ChatsView/ChatsView.js
  components/ChatsView/ChatsView.test.js
  components/GoalsView/useOptimisticGoalPostponeHidden.js
  components/GoalsView/useOptimisticGoalPostponeHidden.test.js
  components/TaskListView/OpenTasksView/EmptyGoal.js
  components/TaskListView/OpenTasksView/ParentGoalSection.js
  components/UIComponents/DueDateSinglePopup.js
  components/UIComponents/DueDateSinglePopup.test.js
  components/UIComponents/FloatModals/DueDateModal/AutoPostpone.js
  components/UIComponents/FloatModals/DueDateModal/AutoPostpone.test.js
  components/UIComponents/FloatModals/DueDateModal/DueDateModal.js
  components/UIComponents/FloatModals/DueDateModal/applyPostponeToGoalTaskList.js
  components/UIComponents/FloatModals/DueDateModal/applyPostponeToGoalTaskList.test.js
  hooks/Chats/useGetChats.js
  hooks/Chats/useGetStickyChats.js
  redux/actions.js
  redux/store.js
  utils/backends/Chats/chatNumbers.js
  utils/backends/Chats/chatNumbers.test.js
  utils/backends/Goals/optimisticGoalPostpone.js
  utils/backends/Goals/optimisticGoalPostpone.test.js
  utils/backends/Tasks/tasksFirestore.js
Due: none

Merge branch 'ai/at-2200-all-projects-chats-performance' into 'master'
  components/ChatsView/ChatItem.js
  components/ChatsView/ChatItem.loadingSelector.test.js
  components/ChatsView/ChatsByProject.js
  components/ChatsView/ChatsByProject.test.js
  components/ChatsView/ChatsView.js
  components/ChatsView/ChatsView.test.js
  hooks/Chats/useGetChats.js
  hooks/Chats/useGetStickyChats.js
  utils/backends/Chats/chatNumbers.js
  utils/backends/Chats/chatNumbers.test.js
Due: none

Merge branch 'ai/at-2200-reduce-production-log-noise' into 'master'
  functions/Assistant/assistantHelper.js
  functions/Projects/onUpdateProjectFunctions.js
  functions/Tasks/onCreateTaskFunctions.js
  functions/Tasks/onUpdateTaskFunctions.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Fix header picker label under quill 2 (staging QA finding)
  components/Feeds/CommentsTextInput/quill2Setup.js
  components/Feeds/CommentsTextInput/quill2SetupPicker.test.js
  functions/Assistant/assistantHelper.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Port the list CSS to quill 2's data-list DOM (staging QA finding)
  components/NotesView/NotesDV/EditorView/toolbar-styles.css
Due: none

Fix header picker data-value and make markdown tables block embeds
  components/Feeds/CommentsTextInput/quill2Setup.js
  components/Feeds/CommentsTextInput/quill2SetupPicker.test.js
  components/NotesView/NotesDV/EditorView/MarkdownTableFormat.js
  components/NotesView/NotesDV/EditorView/markdownTableFormat.test.js
  functions/Assistant/toolSchemas.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Record Stage 4 acceptance after staging QA
  FRONTEND_MIGRATION_PLAN.md
Due: none

Add exact task-ID lookup to get_tasks and cap listings at the context ceiling
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/toolSchemas.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Move the root install to Node 22 / npm 10: lockfile v3 + legacy-peer-deps
  .npmrc
  package-lock.json
Due: modules_cache

Declare Node 22 repo-wide: .nvmrc, CI base image, engines
  .gitlab-ci.yml
  .nvmrc
  ci/Dockerfile_base
  web-bundler/check-node.js
Due: none

Prettier 2 → 3, pretty-quick 4, husky 4 → 9
  .husky/pre-commit
  .prettierignore
  .prettierrc.js
  package-lock.json
  package.json
Due: modules_cache

TypeScript 3.9 → 5.9 (types-only surface)
  package-lock.json
  package.json
Due: modules_cache

Record Stage 5 in the plan and bring CLAUDE.md to the Node 22 era
  CLAUDE.md
  FRONTEND_MIGRATION_PLAN.md
Due: none

Record Stage 5's green CI + staging deploy in the plan
  FRONTEND_MIGRATION_PLAN.md
Due: none

Record Stage 5 acceptance after staging QA
  FRONTEND_MIGRATION_PLAN.md
Due: none

Stage 6 phase A: redux 5, react-redux 9, dnd 18, sentry 10 on React 18
  package-lock.json
  package.json
  replacement_node_modules/@hello-pangea/dnd/dist/dnd.cjs.js
  replacement_node_modules/@hello-pangea/dnd/dist/dnd.esm.js
Due: modules_cache

Close Stage 6: dependency floor shipped, React 19 deferred on evidence
  CLAUDE.md
  FRONTEND_MIGRATION_PLAN.md
Due: none

Fix stale functions test assertions for AT-2199 approval policy and the Luna model default
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.test.js
  functions/GoogleCalendar/calendarProjectRoutingConfig.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

feat(vm): let users pick a default model family per VM agent
  CLAUDE.md
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/GoogleCalendar/calendarProjectRoutingConfig.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(workflow): decide step-prompt suppression when the task lands on the step
  CLAUDE.md
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Make the "Suggested by" bulk actions compact (AT-2223)
  CLAUDE.md
  __tests__/UIControls/Button.test.js
  components/Suggeted/SuggestedBulkActions.js
  components/Suggeted/SuggestedBulkActions.test.js
  components/UIControls/Button.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.test.js
  functions/GoogleCalendar/calendarProjectRoutingConfig.test.js
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production
