Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

modules_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

firebase_cmd_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

functions_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

deploy:cloud:functions:staging:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_staging
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

deploy:cloud:functions:production:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_production
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

Merge branch 'ai/assistant-next-step-completion-copy' into 'master'
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/assistantNormalTalk_optimized.js
  functions/Assistant/rollingThreadCompaction.js
  functions/Assistant/rollingThreadCompaction.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Wait for active task VMs in AI workflow steps
  components/WorkflowModal/WorkflowModal.js
  components/WorkflowModal/workflowCompletionCopy.js
  components/WorkflowModal/workflowCompletionCopy.test.js
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2015-wait-for-active-task-vm' into 'master'
  components/WorkflowModal/WorkflowModal.js
  components/WorkflowModal/workflowCompletionCopy.js
  components/WorkflowModal/workflowCompletionCopy.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Merge branch 'ai/at-1937-live-vm-comment-tag' into 'master'
  functions/Assistant/vmJobRunner.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Add workflow controls to task chat
  components/TaskDetailedView/TaskChatWorkflowControls.js
  components/TaskDetailedView/TaskChatWorkflowControls.test.js
  components/TaskDetailedView/TaskDetailedView.js
  functions/Assistant/vmJobRunner.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2016-task-chat-workflow-controls' into 'master'
  functions/Assistant/vmJobRunner.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Match task chat workflow control colors
  components/TaskDetailedView/TaskChatWorkflowControls.js
  components/TaskDetailedView/TaskChatWorkflowControls.test.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.test.js
Due: none

Polish workflow controls on mobile
  components/TaskDetailedView/TaskChatWorkflowControls.js
  components/TaskDetailedView/TaskChatWorkflowControls.test.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.test.js
  components/WorkflowModal/MainButtons.js
  components/WorkflowModal/MainButtons.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  i18n/workflowControlTranslations.test.js
Due: none

Preserve workflow VM assistant identity
  functions/Assistant/vmJob.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Hide completed OKR sections for today
  components/TaskListView/OKRs/OKRSection.js
  components/TaskListView/OKRs/OKRSection.test.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.test.js
Due: none

Reduce GitLab CI web compute
  .gitlab-ci.yml
  components/TaskListView/OKRs/OKRSection.js
  components/TaskListView/OKRs/OKRSection.test.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.test.js
Due: none

Merge branch 'ai/at-2019-reduce-ci-compute' into 'master'
  components/TaskListView/OKRs/OKRSection.js
  components/TaskListView/OKRs/OKRSection.test.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.test.js
Due: none

Wait for pre-VM assistant runs in workflows
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Show VM input requests in task workflow
  functions/Assistant/vmInteraction.js
  functions/Assistant/vmInteraction.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Fix targeted Jest CI selection
  .gitlab-ci.yml
  ci/jestSetup.js
  ci/selectTargetedJestFiles.js
  functions/Assistant/vmInteraction.js
  functions/Assistant/vmInteraction.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Move VM input tasks to next workflow step
  .gitlab-ci.yml
  ci/jestSetup.js
  ci/selectTargetedJestFiles.js
  functions/Assistant/vmInteraction.js
  functions/Assistant/vmInteraction.test.js
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
  functions/Tasks/workflowStepHelper.js
  functions/Tasks/workflowStepHelper.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2019-reduce-ci-compute' into 'master'
  .gitlab-ci.yml
  ci/jestSetup.js
  ci/selectTargetedJestFiles.js
  functions/Assistant/vmInteraction.js
  functions/Assistant/vmInteraction.test.js
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
  functions/Tasks/workflowStepHelper.js
  functions/Tasks/workflowStepHelper.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2024-vm-input-workflow-step' into 'master'
  functions/Assistant/vmInteraction.js
  functions/Assistant/vmInteraction.test.js
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
  functions/Tasks/workflowStepHelper.js
  functions/Tasks/workflowStepHelper.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Support in-place note updates from the menu bar app
  functions/MenubarApp/menubarApp.js
  functions/MenubarApp/menubarPushNoteUpdate.test.js
  functions/shared/NoteService.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Clear task state before focus changes
  components/TaskDetailedView/Properties/InFocus.js
  components/TaskListView/TaskItem/SecondaryButtonsArea.js
  components/UIComponents/FloatModals/MorePopupsOfEditModals/Tasks/InFocusModalItem.js
  utils/popupDismissGuard.test.js
  utils/taskFocusInteraction.js
  utils/taskFocusInteraction.test.js
Due: none

Repair the task list Jest suites the targeted CI run selects
  __mocks__/@react-native-async-storage/async-storage.js
  __mocks__/styleMock.js
  __tests__/TaskDetailedView/Properties/PropertiesView.test.js
  __tests__/TaskDetailedView/Properties/__snapshots__/PropertiesView.test.js.snap
  __tests__/TaskDetailedView/SubTasksView/SubTasksView.test.js
  __tests__/TaskDetailedView/SubTasksView/__snapshots__/SubTasksView.test.js.snap
  __tests__/TaskListView/DoneTasksView/DoneTasksByDate.test.js
  __tests__/TaskListView/DoneTasksView/DoneTasksByProject.test.js
  __tests__/TaskListView/DoneTasksView/__snapshots__/DoneTasksByDate.test.js.snap
  __tests__/TaskListView/DoneTasksView/__snapshots__/DoneTasksByProject.test.js.snap
  __tests__/TaskListView/MainTasksView.test.js
  __tests__/TaskListView/OpenTasksView/OpenTasksByDate.test.js
  __tests__/TaskListView/OpenTasksView/__snapshots__/OpenTasksByDate.test.js.snap
  __tests__/TaskListView/ParentTaskContainer.test.js
  __tests__/TaskListView/PendingTasksView/PendingTasksByDate.test.js
  __tests__/TaskListView/PendingTasksView/PendingTasksByProject.test.js
  __tests__/TaskListView/PendingTasksView/SentToSection.test.js
  __tests__/TaskListView/PendingTasksView/__snapshots__/PendingTasksByDate.test.js.snap
  __tests__/TaskListView/PendingTasksView/__snapshots__/PendingTasksByProject.test.js.snap
  __tests__/TaskListView/PendingTasksView/__snapshots__/SentToSection.test.js.snap
  __tests__/TaskListView/Subtask/SubTasksView.test.js
  __tests__/TaskListView/Subtask/__snapshots__/SubTasksView.test.js.snap
  __tests__/TaskListView/TaskItem.test.js
  __tests__/TaskListView/__snapshots__/MainTasksView.test.js.snap
  __tests__/TaskListView/__snapshots__/ParentTaskContainer.test.js.snap
  __tests__/TaskListView/__snapshots__/TaskItem.test.js.snap
  ci/jestSetup.js
  package-lock.json
  package.json
Due: modules_cache

Keep shared manual mocks out of the targeted Jest selection
  ci/selectTargetedJestFiles.js
Due: none

Give the Jest CI job the env names react-native-dotenv demands
  .gitlab-ci.yml
  ci/writeTestEnv.js
Due: none

Write the test .env where babel-plugin-dotenv actually reads it
  ci/writeTestEnv.js
Due: none

Fix the ReferenceError that breaks the sidebar invite button on load
  components/SidebarMenu/ProjectFolding/InvitePeople/InvitePeopleButton.js
Due: none

Point the moved-component suites at their new paths
  __tests__/FloatModals/DueDateCalendarModal.test.js
  __tests__/FloatModals/DueDateModal.test.js
  __tests__/FloatModals/__snapshots__/DueDateCalendarModal.test.js.snap
  __tests__/FloatModals/__snapshots__/DueDateModal.test.js.snap
  __tests__/LoginScreen.test.js
  __tests__/SocialText.test.js
  __tests__/UIControls/MultiToggleSwitch.test.js
  __tests__/UIControls/__snapshots__/MultiToggleSwitch.test.js.snap
  __tests__/__snapshots__/LoginScreen.test.js.snap
  __tests__/__snapshots__/SocialText.test.js.snap
Due: none

Teach the test runner replaceAll, which its Node is too old to have
  ci/jestSetup.js
Due: none

Let the Cloud Functions suites resolve and run under the root runner
  ci/jestSetup.js
  functions/Tests/parseTextUtils.test.js
  functions/Tests/whatsAppToolErrorUtils.test.js
  package.json
Due: modules_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Drive the modal suites through the tree instead of vanished instances
  __tests__/FloatModals/ColorPickerModal.test.js
  __tests__/FloatModals/RecurrenceModal.test.js
  __tests__/FloatModals/__snapshots__/ColorPickerModal.test.js.snap
  __tests__/FloatModals/__snapshots__/RecurrenceModal.test.js.snap
  __tests__/LoginScreen.test.js
  __tests__/SidebarMenu/ArchivedProjects.test.js
  __tests__/SidebarMenu/__snapshots__/ArchivedProjects.test.js.snap
  __tests__/TaskDetailedView/Properties/__snapshots__/Assignee.test.js.snap
  __tests__/TaskDetailedView/Properties/__snapshots__/Creator.test.js.snap
  __tests__/TaskDetailedView/Properties/__snapshots__/ProjectModalItem.test.js.snap
  __tests__/TaskListView/Header/UserTasksHeader.test.js
  __tests__/TaskListView/Header/__snapshots__/UserTasksHeader.test.js.snap
  __tests__/UIComponents/FloatModals/NotificationModalMandatory.test.js
  __tests__/UIControls/__snapshots__/Button.test.js.snap
  __tests__/UIControls/__snapshots__/RecurrenceButton.test.js.snap
  __tests__/UIControls/__snapshots__/ShowMoreButton.test.js.snap
  __tests__/__snapshots__/Icon.test.js.snap
Due: none

Seed projects the way the store expects them now
  __tests__/ContactDetailedView/ContactProperties/ContactProperties.test.js
  __tests__/FollowUp/AttachmentsTag.test.js
  __tests__/FollowUp/__snapshots__/AttachmentsTag.test.js.snap
  __tests__/ProjectDetailedView/Header/ProjectTitle.test.js
  __tests__/ProjectDetailedView/ProjectMembers/EditMember.test.js
  __tests__/ProjectDetailedView/ProjectMembers/ProjectMembers.test.js
  __tests__/ProjectDetailedView/ProjectMembers/ProjectMembersHeader.test.js
  __tests__/ProjectDetailedView/ProjectMembers/__snapshots__/EditMember.test.js.snap
  __tests__/ProjectDetailedView/ProjectMembers/__snapshots__/ProjectMembers.test.js.snap
  __tests__/ProjectDetailedView/ProjectMembers/__snapshots__/ProjectMembersHeader.test.js.snap
  __tests__/ProjectDetailedView/ProjectProperties/ProjectProperties.test.js
  __tests__/ProjectDetailedView/ProjectProperties/__snapshots__/ProjectProperties.test.js.snap
  __tests__/Tags/TaskSummarizeTags.test.js
  __tests__/Tags/TaskVisibility.test.js
  __tests__/Tags/__snapshots__/TaskSummarizeTags.test.js.snap
  __tests__/Tags/__snapshots__/TaskVisibility.test.js.snap
  __tests__/TaskListView/Utils/TasksHelper.test.js
  __tests__/UserDetailedView/UserProperties/UserProperties.test.js
  __tests__/UserDetailedView/UserProperties/__snapshots__/UserProperties.test.js.snap
  __tests__/UserDetailedView/UserTitle.test.js
  __tests__/UserDetailedView/__snapshots__/UserTitle.test.js.snap
  __tests__/WorkflowView/SelectUserModal.test.js
  __tests__/WorkflowView/WorkflowStep.test.js
  __tests__/WorkflowView/WorkflowView.test.js
  __tests__/WorkflowView/__snapshots__/SelectUserModal.test.js.snap
  __tests__/WorkflowView/__snapshots__/WorkflowStep.test.js.snap
  testUtils/seedStore.js
Due: none

Rebuild the UserProperties suite around the component it tests now
  __tests__/UserDetailedView/UserProperties/UserProperties.test.js
  testUtils/seedStore.js
Due: none

Restore the redux suites to the action set that exists
  __tests__/SidebarMenu/ImpressumLink.test.js
  __tests__/SidebarMenu/Version.test.js
  __tests__/SidebarMenu/__snapshots__/ImpressumLink.test.js.snap
  __tests__/SidebarMenu/__snapshots__/Version.test.js.snap
  __tests__/redux/actions.test.js
  __tests__/redux/store.test.js
Due: none

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*
