Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*

Give the task and project fixtures the shape their components read
  __tests__/FloatModals/StoryPointModal.test.js
  __tests__/FloatModals/__snapshots__/StoryPointModal.test.js.snap
  __tests__/TaskDetailedView/Properties/Creator.test.js
  __tests__/TaskDetailedView/Properties/DeleteTask.test.js
  __tests__/TaskDetailedView/Properties/DeleteTaskButton.test.js
  __tests__/TaskDetailedView/Properties/__snapshots__/DeleteTask.test.js.snap
  __tests__/TaskDetailedView/Properties/__snapshots__/DeleteTaskButton.test.js.snap
  __tests__/UIControls/PointsButton.test.js
Due: none

Rewrite three suites against contracts that changed shape
  __tests__/ContactDetailedView/ContactProperties/ContactProperties.test.js
  __tests__/TaskDetailedView/Properties/ProjectModalItem.test.js
  __tests__/TaskDetailedView/Properties/__snapshots__/ProjectModalItem.test.js.snap
  __tests__/UIComponents/ConfirmPopup.test.js
  __tests__/UIComponents/__snapshots__/ConfirmPopup.test.js.snap
Due: none

Check the icon mapping the way it is consumed, and drop dead lifecycle tests
  __tests__/Icon.test.js
  __tests__/SidebarMenu/CustomSideMenu.test.js
  __tests__/Tags/TaskSummarizeTags.test.js
  __tests__/Tags/__snapshots__/TaskSummarizeTags.test.js.snap
  __tests__/TaskListView/Header/DateHeader.test.js
  __tests__/TaskListView/Header/__snapshots__/DateHeader.test.js.snap
Due: none

Match the Gmail and URL suites to the behaviour that replaced them
  __tests__/URLSystem/People/URLsPeople.test.js
  __tests__/URLSystem/Settings/URLsSettings.test.js
Due: none

Follow the contacts and settings navigation to where it moved
  __tests__/ContactsView/Utils/ContactsHelper.test.js
  __tests__/SettingsView/SettingsHelper.test.js
Due: none

Rebuild the sidebar ProjectItem suite around its current props
  __tests__/SidebarMenu/ProjectItem.test.js
  __tests__/SidebarMenu/__snapshots__/ProjectItem.test.js.snap
Due: none

Follow TasksHelper and its fixtures to the current task model
  __mocks__/MockData/SubTaskList.js
  __mocks__/MockData/TasksView/DoneTasksViewInput.js
  __mocks__/MockData/TasksView/TasksListInput_1.js
  __tests__/TaskListView/Utils/TasksHelper.test.js
Due: none

Complete the email label mock and fix a case-sensitive import
  __tests__/ApiCalendar/ApiCalendar.test.ts.js
  components/TaskListView/EmailLine/EmailLabelModal/EmailLabelModal.test.js
Due: none

Stop .gitignore swallowing every test file added since it was written
  .gitignore
  __tests__/Assistant/assistantRecurringTasksTimezone.test.js
  __tests__/SettingsView/Profile/Properties/GlobalUserInfo.test.js
  __tests__/SettingsView/Profile/Properties/ProfileProperties.test.js
  __tests__/SettingsView/Profile/Properties/UserDescriptionField.test.js
  __tests__/SettingsView/Profile/Properties/UserGold.test.js
  __tests__/Tags/GmailTag.test.js
  __tests__/Tags/TaskPriorityTag.test.js
  __tests__/Tags/linkTextUtils.test.js
  __tests__/TaskListView/GmailTaskMarkers.test.js
  __tests__/TwilioWhatsAppService.test.js
  __tests__/UIControls/__snapshots__/PointsButton.test.js.snap
  __tests__/UserDetailedView/UserProperties/UserInfo.test.js
  __tests__/UserDetailedView/UserProperties/__snapshots__/UserProperties.test.js.snap
  __tests__/i18n/TranslationService.test.js
Due: none

Give the last render suites the props and state their components read
  __tests__/SettingsView/ProjectsSettings/ProjectItem.test.js
  __tests__/SettingsView/ProjectsSettings/__snapshots__/ProjectItem.test.js.snap
  __tests__/SocialTextInput.test.js
  __tests__/TaskListView/TaskItemTags.test.js
  __tests__/TaskListView/__snapshots__/TaskItemTags.test.js.snap
  __tests__/UIComponents/ProjectInvitationPopup.test.js
  __tests__/UIComponents/__snapshots__/ProjectInvitationPopup.test.js.snap
  __tests__/WorkflowView/EditStep.test.js
  __tests__/WorkflowView/__snapshots__/EditStep.test.js.snap
  __tests__/__snapshots__/SocialTextInput.test.js.snap
Due: none

Bring the last four suites onto their components' current contracts
  __tests__/Feeds/CommentsTextInput/MentionsModal.test.js
  __tests__/Feeds/CommentsTextInput/__snapshots__/MentionsModal.test.js.snap
  __tests__/TaskDetailedView/Estimations/WorkflowEstimation.test.js
  __tests__/TaskDetailedView/Estimations/__snapshots__/WorkflowEstimation.test.js.snap
  __tests__/TaskDetailedView/Properties/SelectProjectModal.test.js
  __tests__/TaskDetailedView/Properties/__snapshots__/SelectProjectModal.test.js.snap
Due: none

Stand in the calendar for the follow-up date modal
  __tests__/FollowUp/CustomFollowUpDateModal.test.js
  __tests__/FollowUp/__snapshots__/CustomFollowUpDateModal.test.js.snap
Due: none

Stop the VM job suites mocking firebase-admin as a virtual module
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmThreadQueue.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Remove the remaining virtual mocks of modules that are not virtual
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/vmAgentSettings.test.js
  functions/OKRs/okrRenewal.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Run the tests against the node_modules overlay CI actually uses
  __tests__/SocialTextInput.test.js
  __tests__/__snapshots__/SocialTextInput.test.js.snap
  ci/jestSetup.js
Due: none

Keep image assets out of the snapshots so they survive the runner layout
  __mocks__/assetMock.js
  __tests__/SettingsView/ProjectsSettings/__snapshots__/ProjectsSettings.test.js.snap
  __tests__/__snapshots__/LoginScreen.test.js.snap
  package.json
Due: modules_cache

Move the Cloud Functions runtime to Node 22
  CLAUDE.md
  ci/Dockerfile_functions
  functions/package-lock.json
  functions/package.json
Due: functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Pin the Node 22 runtime where firebase-tools actually reads it
  CLAUDE.md
  firebase.json
Due: none

Redeploy the functions when firebase.json changes
  .gitlab-ci.yml
Due: none

Land the Node 22 runtime by giving the deploy a source change
  CLAUDE.md
  functions/index.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Inherit assistant models for configured tasks
  components/UIComponents/FloatModals/PreConfigTaskModal/AISettingsArea.js
  components/UIComponents/FloatModals/PreConfigTaskModal/PreConfigTaskModal.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantRecurringTasks.js
  functions/Assistant/assistantRecurringTasks.test.js
  functions/Assistant/preConfigTaskModel.js
  functions/Assistant/preConfigTaskModel.test.js
  functions/Assistants/templateMerge.js
  functions/Assistants/templateMerge.test.js
  functions/Firestore/assistantsFirestore.js
  functions/Firestore/templatesFirestore.js
  i18n/modelTranslations.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/assistantHelper.js
  utils/backends/Assistants/assistantUpdates.js
  utils/backends/Assistants/assistantsFirestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Limit assistant model pickers to current models
  components/AssistantDetailedView/Customizations/Heartbeat/HeartbeatModelProperty.js
  components/UIComponents/FloatModals/AssistantModelModal/AssistantModelModal.js
  components/UIComponents/FloatModals/PreConfigTaskModal/AISettingsArea.js
  functions/Assistant/heartbeatSettingsHelper.js
  functions/Assistant/heartbeatSettingsHelper.test.js
  functions/Assistant/preConfigTaskModel.js
  functions/Assistant/preConfigTaskModel.test.js
  functions/Assistant/selectableAssistantModels.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Use project assistant for object interactions
  components/ChatsView/ChatDV/BotLine/BotOptionsModalWrapper.js
  components/ChatsView/ChatDV/EditorView/BotHeader.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButton.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButtonInModal.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButtonWrapper.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButtonWrapper.test.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotOptionsModal.js
  components/ChatsView/ChatDV/EditorView/BotOption/objectAssistantHelper.js
  components/ChatsView/ChatDV/EditorView/BotOption/objectAssistantHelper.test.js
  components/ChatsView/ChatDV/EditorView/ChatInput.js
  components/ChatsView/ChatDV/EditorView/ChatInput.test.js
  components/UIComponents/FloatModals/RichCommentModal/BotHeader.js
  utils/backends/Chats/chatsComments.js
Due: none

Let assistants continue an earlier VM run in its own thread
  components/ChatsView/ChatDV/BotLine/BotOptionsModalWrapper.js
  components/ChatsView/ChatDV/EditorView/BotHeader.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButton.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButtonInModal.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButtonWrapper.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButtonWrapper.test.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotOptionsModal.js
  components/ChatsView/ChatDV/EditorView/BotOption/objectAssistantHelper.js
  components/ChatsView/ChatDV/EditorView/BotOption/objectAssistantHelper.test.js
  components/ChatsView/ChatDV/EditorView/ChatInput.js
  components/ChatsView/ChatDV/EditorView/ChatInput.test.js
  components/UIComponents/FloatModals/RichCommentModal/BotHeader.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmContinuationThread.js
  functions/Assistant/vmContinuationThread.test.js
  functions/Assistant/vmHostTaskHelper.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJobHostTask.test.js
  functions/Assistant/vmJobRunner.js
  utils/backends/Chats/chatsComments.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Keep the web Jest check out of the functions dependency tree
  .gitlab-ci.yml
  ci/jest.web.config.js
  components/ChatsView/ChatDV/BotLine/BotOptionsModalWrapper.js
  components/ChatsView/ChatDV/EditorView/BotHeader.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButton.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButtonInModal.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButtonWrapper.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotButtonWrapper.test.js
  components/ChatsView/ChatDV/EditorView/BotOption/BotOptionsModal.js
  components/ChatsView/ChatDV/EditorView/BotOption/objectAssistantHelper.js
  components/ChatsView/ChatDV/EditorView/BotOption/objectAssistantHelper.test.js
  components/ChatsView/ChatDV/EditorView/ChatInput.js
  components/ChatsView/ChatDV/EditorView/ChatInput.test.js
  components/UIComponents/FloatModals/RichCommentModal/BotHeader.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmContinuationThread.js
  functions/Assistant/vmContinuationThread.test.js
  functions/Assistant/vmHostTaskHelper.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJobHostTask.test.js
  functions/Assistant/vmJobRunner.js
  utils/backends/Chats/chatsComments.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2051-project-assistant-object-default' into 'master'
  functions/Assistant/assistantHelper.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmContinuationThread.js
  functions/Assistant/vmContinuationThread.test.js
  functions/Assistant/vmHostTaskHelper.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJobHostTask.test.js
  functions/Assistant/vmJobRunner.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Show assistant status in note task comments
  components/UIComponents/FloatModals/ManageTaskModal/CommentWrapper.js
  components/UIComponents/FloatModals/ManageTaskModal/manageTaskCommentAssistant.js
  components/UIComponents/FloatModals/ManageTaskModal/manageTaskCommentAssistant.test.js
Due: none

Limit feature branch pipeline work
  .gitlab-ci.yml
Due: none

Show three comments in comment popup
  .gitlab-ci.yml
  components/UIComponents/FloatModals/RichCommentModal/RichCommentModal.js
Due: none

Merge branch 'ai/at-2059-lightweight-feature-pipelines' into 'master'
  .gitlab-ci.yml
  components/UIComponents/FloatModals/RichCommentModal/RichCommentModal.js
Due: none

Merge branch 'ai/at-2060-show-three-comments' into 'master'
  components/UIComponents/FloatModals/RichCommentModal/RichCommentModal.js
Due: none

Release popup scroll locks on unmount
  components/TaskListView/TaskItem/SecondaryButtonsArea.js
  components/TaskListView/TaskPriorityTagButton.js
  components/UIComponents/FloatModals/HighlightColorModal/HighlightButton.js
  components/UIComponents/FloatModals/MorePopupsOfEditModals/Tasks/TaskMoreButton.js
  components/UIComponents/FloatModals/PrivacyModal/PrivacyButton.js
  components/UIComponents/FloatModals/RichCommentModal/RichCommentModal.js
  components/UIControls/CommentButton.js
  components/UIControls/DueDateButton.js
  components/UIControls/EditAssigneeWrapper/EditAssigneeWrapper.js
  components/UIControls/EstimationButton.js
  components/UIControls/FollowUpButton.js
  components/UIControls/RecurrenceButton.js
  hooks/useFloatPopupLock.js
  hooks/useFloatPopupLock.test.js
Due: none

Cover popup scroll locks across responsive layouts
  __tests__/FloatModals/MoreButtonWrapper.test.js
  __tests__/RootView/MainViewsContainer.test.js
  __tests__/Tags/DescriptionTag.test.js
  components/RootView/MainViewsContainer.js
  components/Tags/DescriptionTag.js
  components/Tags/PrivacyTag.js
  components/Tags/TaskCommentsWrapper.js
  components/UIComponents/FloatModals/MorePopupsOfEditModals/Common/MoreButtonWrapper.js
  components/UIControls/DateTagButton.js
  hooks/useFloatPopupLock.js
Due: none

Merge branch 'ai/at-2061-release-popup-scroll-lock' into 'master'
  components/UIComponents/FloatModals/RichCommentModal/RichCommentModal.js
Due: none
