Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*

Left-align selected goal row
  __tests__/UIComponents/FloatModals/RichCreateTaskModal.test.js
  components/Tags/AddTaskTag.js
  components/Tags/AddTaskTag.test.js
  components/UIComponents/FloatModals/ManageTaskModal/ManageTaskModal.js
  components/UIComponents/FloatModals/ManageTaskModal/ManageTaskModalWidth.test.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.test.js
  components/UIComponents/FloatModals/ProjectListModal/ProjectListModal.js
  components/UIComponents/FloatModals/RichCreateTaskModal/MainModal.js
  components/UIComponents/FloatModals/RichCreateTaskModal/RichCreateTaskModal.js
  components/UIComponents/FloatModals/RichCreateTaskModal/SelectedGoalRow.js
  components/UIComponents/FloatModals/RichCreateTaskModal/SelectedGoalRow.test.js
  components/UIComponents/FloatModals/RichCreateTaskModal/createTaskPopupWidth.js
  components/UIComponents/FloatModals/RichCreateTaskModal/createTaskPopupWidth.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Merge branch 'ai/at-2580-left-align-goal' into 'master'
  __tests__/UIComponents/FloatModals/RichCreateTaskModal.test.js
  components/Tags/AddTaskTag.js
  components/Tags/AddTaskTag.test.js
  components/UIComponents/FloatModals/ManageTaskModal/ManageTaskModal.js
  components/UIComponents/FloatModals/ManageTaskModal/ManageTaskModalWidth.test.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.js
  components/UIComponents/FloatModals/MorePopupsOfMainViews/Tasks/TaskHeaderMoreButton.test.js
  components/UIComponents/FloatModals/ProjectListModal/ProjectListModal.js
  components/UIComponents/FloatModals/RichCreateTaskModal/MainModal.js
  components/UIComponents/FloatModals/RichCreateTaskModal/RichCreateTaskModal.js
  components/UIComponents/FloatModals/RichCreateTaskModal/createTaskPopupWidth.js
  components/UIComponents/FloatModals/RichCreateTaskModal/createTaskPopupWidth.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Clarify Anna email identity and action confirmations
  functions/Email/emailAssistantBridge.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Align task popup scope rows
  components/GlobalSearchAlgolia/Filter/ProjectFilter.js
  components/GlobalSearchAlgolia/Filter/ProjectFilter.test.js
  components/GlobalSearchAlgolia/Filter/ScopeTag.js
  components/UIComponents/FloatModals/RichCreateTaskModal/MainModal.js
  components/UIComponents/FloatModals/RichCreateTaskModal/MainModal.test.js
Due: none

Use project color for header dot
  components/TaskListView/Header/ProjectLine.js
  components/TaskListView/Header/ProjectLine.test.js
Due: none

Clear feed unread state on task transitions
  CLAUDE.md
  __tests__/Feeds/activityFeedReadCallSites.test.js
  components/TaskListView/Header/ProjectLine.js
  components/TaskListView/Header/ProjectLine.test.js
  utils/backends/Tasks/tasksFirestore.js
Due: none

Merge branch 'ai/at-2584-clear-workflow-feed-unread' into 'master'
  components/TaskListView/Header/ProjectLine.js
  components/TaskListView/Header/ProjectLine.test.js
Due: none

Fix project detail layout
  __tests__/ProjectDetailedView/ProjectDetailedViewCollapsedSidebar.test.js
  __tests__/ProjectDetailedView/ProjectProperties/IntegrationsLinkProperty.test.js
  browser-tests/README.md
  browser-tests/at2588/harness.entry.js
  browser-tests/at2588/run.js
  components/ProjectDetailedView/ProjectDetailedView.js
  components/ProjectDetailedView/ProjectProperties/IntegrationsLink/IntegrationsLinkProperty.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Limit project names in empty-inbox tags
  __tests__/Tags/ProjectTag.test.js
  components/Tags/ProjectTag.js
  components/TaskListView/OpenTasksView/AllProjectsEmptyInboxTags.js
  components/TaskListView/OpenTasksView/AllProjectsEmptyInboxTags.test.js
Due: none

Remove retired Expo dependency tail
  .gitlab-ci.yml
  CLAUDE.md
  FRONTEND_MIGRATION_PLAN.md
  __tests__/DependencyHygiene.test.js
  __tests__/FeedView/ActionButton.test.js
  __tests__/SidebarMenu/Version.test.js
  __tests__/UIComponents/FloatModals/NotificationModalMandatory.test.js
  ci/Dockerfile_web_bundler
  ci/deploy-scope/web-production.paths
  ci/jestSetup.js
  metro.config.js
  package-lock.json
  package-optimized-build-bundle.json
  package.json
  replacement_node_modules/react-native/Libraries/Lists/FlatList.js
  replacement_node_modules/react-native/Libraries/Lists/VirtualizedList.js
  web-bundler/README.md
  web-bundler/webpack.config.js
  webpack.config.js
Due: modules_cache

Fix default calendar account selection
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/attachmentToolHandoff.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/Email/emailAssistantBridge.js
  functions/Email/emailAssistantBridge.test.js
  functions/GoogleCalendar/assistantCalendarTools.js
  functions/GoogleCalendar/assistantCalendarTools.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Restore Firebase CLI prompt dependency
  __tests__/DependencyHygiene.test.js
  package-lock.json
  package.json
Due: modules_cache

Fix assistant line mentions
  components/Feeds/CommentsTextInput/CustomTextInput3.js
  components/Feeds/CommentsTextInput/assistantMentionData.test.js
  components/Feeds/CommentsTextInput/textInputHelper.js
  components/Feeds/Utils/HelperFunctions.js
  components/MyDayView/AssistantLine/AssistantOptions/AssistantOptions.js
  components/MyDayView/AssistantLine/AssistantOptions/AssistantOptions.test.js
Due: none

Add open tasks global search filter
  components/Feeds/CommentsTextInput/CustomTextInput3.js
  components/Feeds/CommentsTextInput/assistantMentionData.test.js
  components/Feeds/CommentsTextInput/textInputHelper.js
  components/Feeds/Utils/HelperFunctions.js
  components/GlobalSearchAlgolia/Filter/SearchFilterChips.js
  components/GlobalSearchAlgolia/Filter/SearchFilterChips.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.createdByMe.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/GlobalSearchAlgolia/typesenseSearchFilters.js
  components/GlobalSearchAlgolia/typesenseSearchFilters.test.js
  components/MyDayView/AssistantLine/AssistantOptions/AssistantOptions.js
  components/MyDayView/AssistantLine/AssistantOptions/AssistantOptions.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Merge branch 'ai/at-2592-assistant-line-mentions' into 'master'
  components/Feeds/CommentsTextInput/CustomTextInput3.js
  components/Feeds/CommentsTextInput/assistantMentionData.test.js
  components/Feeds/CommentsTextInput/textInputHelper.js
  components/Feeds/Utils/HelperFunctions.js
  components/GlobalSearchAlgolia/Filter/SearchFilterChips.js
  components/GlobalSearchAlgolia/Filter/SearchFilterChips.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.createdByMe.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/GlobalSearchAlgolia/typesenseSearchFilters.js
  components/GlobalSearchAlgolia/typesenseSearchFilters.test.js
  components/MyDayView/AssistantLine/AssistantOptions/AssistantOptions.js
  components/MyDayView/AssistantLine/AssistantOptions/AssistantOptions.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Merge branch 'ai/at-2593-open-task-search-filter' into 'master'
  components/Feeds/CommentsTextInput/CustomTextInput3.js
  components/Feeds/CommentsTextInput/assistantMentionData.test.js
  components/Feeds/CommentsTextInput/textInputHelper.js
  components/Feeds/Utils/HelperFunctions.js
  components/MyDayView/AssistantLine/AssistantOptions/AssistantOptions.js
  components/MyDayView/AssistantLine/AssistantOptions/AssistantOptions.test.js
Due: none

Merge branch 'ai/at-2593-open-task-search-filter' into 'master'
  components/GlobalSearchAlgolia/Filter/SearchFilterChips.js
  components/GlobalSearchAlgolia/Filter/SearchFilterChips.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.createdByMe.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/GlobalSearchAlgolia/typesenseSearchFilters.js
  components/GlobalSearchAlgolia/typesenseSearchFilters.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none
