Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*

Turn the skyline into a living city of the last quarter
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/EmptyInboxSkyline.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Add building demolition, road grid and steeper flyover to the skyline
  CLAUDE.md
  babel.config.js
  components/SettingsView/Profile/Achievements/Skyline/EmptyInboxSkyline.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  package.json
Due: modules_cache

Format the skyline scene smoke test
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.test.js
Due: none

Quiet the skyline's sky
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
Due: none

View the skyline from straight above when centred
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
Due: none

Tilt the skyline further when scrolling
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
Due: none

Fly the skyline camera around the city instead of following the scroll
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/EmptyInboxSkyline.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Give every skyline day its own architecture
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
Due: none

Colour skyline buildings by the day's projects
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
Due: none

Mark empty-inbox days with a waving gold flag
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Show the last month as a calendar city, with a Month/Year switch
  CLAUDE.md
  components/SettingsView/Profile/Achievements/AchievementsArea.js
  components/SettingsView/Profile/Achievements/AchievementsAreaSkyline.test.js
  components/SettingsView/Profile/Achievements/Skyline/EmptyInboxSkyline.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.test.js
Due: none

Light the skyline by the time of day and calm the streets
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.test.js
Due: none

Bring back skyline window lights, tied to the time of day
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
Due: none

Give the skyline its own lights at night
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.test.js
Due: none

Light the skyline by the real sun in the user's city
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
Due: none

Accept rolling 24-hour date filters
  functions/Assistant/toolSchemas.js
  functions/shared/TaskRetrievalService.js
  functions/shared/TaskRetrievalService.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Accept rolling 24-hour date filters
  components/Feeds/FeedsGlobalList.js
  components/Feeds/FeedsGlobalList.test.js
  components/Feeds/Utils/FeedsHelper.js
  components/Feeds/Utils/FeedsHelper.test.js
  functions/Assistant/toolSchemas.js
  functions/shared/TaskRetrievalService.js
  functions/shared/TaskRetrievalService.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Retry unread updates after feed access projection
  components/Feeds/FeedsGlobalList.js
  components/Feeds/FeedsGlobalList.test.js
  components/Feeds/Utils/FeedsHelper.js
  components/Feeds/Utils/FeedsHelper.test.js
Due: none

Retry unread updates after feed access projection
  components/Feeds/FeedsGlobalList.js
  components/Feeds/FeedsGlobalList.test.js
  components/Feeds/Utils/FeedsHelper.js
  components/Feeds/Utils/FeedsHelper.test.js
  functions/Assistant/toolSchemas.js
  functions/shared/TaskRetrievalService.js
  functions/shared/TaskRetrievalService.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/fix-last-24-hours-date-filter' into 'master'
  functions/Assistant/toolSchemas.js
  functions/shared/TaskRetrievalService.js
  functions/shared/TaskRetrievalService.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/fix-last-24-hours-date-filter' into 'master'
  components/Feeds/FeedsGlobalList.js
  components/Feeds/FeedsGlobalList.test.js
  components/Feeds/Utils/FeedsHelper.js
  components/Feeds/Utils/FeedsHelper.test.js
Due: none

Prevent Settings description from focusing on open
  __tests__/SettingsView/Profile/Properties/ProfileProperties.test.js
  __tests__/SettingsView/Profile/Properties/UserDescriptionField.test.js
  components/Feeds/CommentsTextInput/CustomTextInput3.js
  components/SettingsView/Profile/Properties/ProfileProperties.js
  components/SettingsView/Profile/Properties/UserDescriptionField.js
Due: none
