Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*

Merge branch 'claude/nifty-lewin-e51d3b' into 'master'
  __tests__/UIComponents/FloatModals/RichCreateTaskModalDueDate.test.js
  components/UIComponents/FloatModals/RichCreateTaskModal/RichCreateTaskModal.js
  utils/backends/Tasks/tasksFirestore.js
Due: none

Merge branch 'claude/nifty-lewin-e51d3b' into 'master'
  MODAL_IMPROVEMENT_PLAN.md
  TYPESENSE_MIGRATION.md
  __tests__/UIComponents/__snapshots__/ConfirmPopup.test.js.snap
  ci/replace-envs.sh
  components/Feeds/CommentsTextInput/MentionsModal.js
  components/GlobalSearchAlgolia/Filter/SearchScopeOptions.js
  components/GlobalSearchAlgolia/GlobalSearchModal.createdByMe.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/GlobalSearchAlgolia/typesenseSearchFilters.js
  components/GlobalSearchAlgolia/typesenseSearchFilters.test.js
  components/MeetingBooking/MeetingBookingPage.js
  components/MeetingBooking/MeetingBookingPage.test.js
  components/Premium/PremiumTab/ConfirmationModal.js
  components/Premium/PremiumTab/SubscriptionPaidByOtherUser/CancelSubscriptionPaidByOtherUserWrapper.js
  components/Premium/RemoveCompanyWrapper.js
  components/SettingsView/Customizations/Properties/PublicBookingSettings.js
  components/SettingsView/Customizations/Properties/PublicBookingSettings.test.js
  components/SettingsView/Profile/Properties/NotAllowRemoveUserModal.js
  components/SettingsView/Profile/Properties/RemoveUser.js
  components/UIComponents/ConfirmDialog.js
  components/UIComponents/ConfirmPopup.js
  components/UIComponents/FloatModals/ManageTaskModal/ConfirmationModal.js
  components/UIComponents/FloatModals/ManageTaskModal/TaskEditionMode.js
  components/UIComponents/FloatModals/RevisionHistoryModal/RevisionHistoryConfirmationModal.js
  components/UIComponents/FloatModals/TaskParentGoalModal/TaskParentGoalModal.js
  components/UserDetailedView/UserProperties/UserProperties.js
  functions/shared/SearchService.js
  functions/shared/TaskSearchService.js
  functions/typesenseHelper.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/BackendBridge.js
  utils/backends/firestore.js
  utils/searchEngine.js
  utils/typesenseSearch.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(tasks): reject non-timestamp dueDate in the server task funnels
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/shared/TaskUpdateService.dueDate.test.js
  functions/shared/TaskUpdateService.js
  functions/shared/dueDateValidation.js
  functions/shared/dueDateValidation.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(modals): search takeover on mobile, ConfirmDialog consolidation, overlay-family sweep
  AppContent.js
  MODAL_IMPROVEMENT_PLAN.md
  __tests__/UIComponents/__snapshots__/ProjectInvitationPopup.test.js.snap
  components/ChatsView/ChatDV/EditorView/BotOption/BotWarningModal.js
  components/Premium/FreePlanWarning.js
  components/Premium/LimitModal/LimitModal.js
  components/Premium/LimitModalPremium/LimitModalPremium.js
  components/Premium/LimitedFeatureModal.js
  components/Premium/PremiumTab/PaymentPreviewModal/PaymentPreviewModal.js
  components/ProjectDetailedView/ProjectProperties/CopyProject/EndCopyProjectNotification.js
  components/UIComponents/AccessDeniedPopup.js
  components/UIComponents/CookieClickerPopup.js
  components/UIComponents/FloatModals/ChangeContactInfoModalContainerForNewGuideUsers.js
  components/UIComponents/FloatModals/IframeModal/IframeModal.js
  components/UIComponents/FloatModals/LevelUpModal/LevelUpModal.js
  components/UIComponents/FloatModals/NoteMaxLengthModal.js
  components/UIComponents/FloatModals/PreConfigTaskGeneratorModal/GlobalPreConfigTaskModal.js
  components/UIComponents/ModalShell/AppPopover.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/ProjectDontExistInInvitationModal.js
  components/UIComponents/ProjectInvitation/ProjectInvitationPopup.js
Due: none

chore(search): trigger web redeploy after unprotecting TYPESENSE CI variables
  utils/searchEngine.js
Due: none

feat(search): delete the 500-Gold full-search machinery (Typesense Phase 4)
  TYPESENSE_MIGRATION.md
  components/ContactsView/Utils/ContactsHelper.js
  components/GlobalSearchAlgolia/Filter/ActiveFullSearch.js
  components/GlobalSearchAlgolia/Filter/CreatedByMeOption.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/GlobalSearchAlgolia/searchHelper.js
  components/SidebarMenu/AlgoliaItemForIndexGlobalAssistantRecords.js
  components/SidebarMenu/LoggedUserSidebar/LoggedUserSidebarBody.js
  functions/AlgoliaGlobalSearchHelper.js
  functions/Firestore/generalFirestoreCloud.js
  functions/Projects/onUpdateProjectFunctions.js
  functions/index.js
  functions/searchHelper.js
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

feat(search): remove Algolia entirely (Typesense migration Phase 5)
  TYPESENSE_MIGRATION.md
  ci/replace-envs.sh
  components/Feeds/CommentsTextInput/MentionsModal.js
  components/GlobalSearchAlgolia/GlobalSearchModal.createdByMe.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.dismissRace.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/GlobalSearchAlgolia/searchFilters.js
  components/GlobalSearchAlgolia/searchFilters.test.js
  components/GlobalSearchAlgolia/typesenseSearchFilters.js
  components/UIComponents/FloatModals/TaskParentGoalModal/TaskParentGoalModal.js
  functions/Algolia/creatorFacetReindex.js
  functions/Algolia/creatorFacetReindex.test.js
  functions/AlgoliaGlobalSearchHelper.js
  functions/Assistant/assistantHelper.js
  functions/envFunctionsHelper.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
  functions/searchCreatorFacets.test.js
  functions/searchHelper.js
  functions/searchIndexationAwait.test.js
  functions/shared/SearchService.js
  functions/shared/TaskSearchService.js
  functions/typesenseHelper.js
  package-lock.json
  package.json
  utils/BackendBridge.js
  utils/backends/firestore.js
  utils/searchEngine.js
Due: modules_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Reconcile email chip counts from popup results
  components/TaskListView/EmailLine/EmailLabelChip.js
  components/TaskListView/EmailLine/EmailLabelChip.test.js
  components/TaskListView/EmailLine/EmailLabelModal/EmailLabelModal.js
  components/TaskListView/EmailLine/EmailLabelModal/EmailLabelModal.test.js
  functions/Email/emailLine/emailLineService.js
  functions/Email/emailLine/emailLineService.test.js
  functions/Email/emailLine/gmailEmailLine.js
  functions/Email/emailLine/gmailEmailLine.test.js
  functions/Email/emailLine/microsoftEmailLine.js
  functions/Email/emailLine/microsoftEmailLine.test.js
  utils/backends/EmailLine/emailLineBackend.js
  utils/backends/EmailLine/emailLineBackend.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

feat(search): chip filters, no templates toggle, standard sheet on mobile
  components/GlobalSearchAlgolia/Filter/CreatedByMeOption.js
  components/GlobalSearchAlgolia/Filter/CreatedByMeOption.test.js
  components/GlobalSearchAlgolia/Filter/SearchFilterChips.js
  components/GlobalSearchAlgolia/Filter/SearchFilterChips.test.js
  components/GlobalSearchAlgolia/Filter/SearchScopeOptions.js
  components/GlobalSearchAlgolia/GlobalSearchModal.createdByMe.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

fix(search): stop marking every search result private
  components/Feeds/CommentsTextInput/MentionsModal/MentionsContacts.js
  components/Feeds/CommentsTextInput/MentionsModal/MentionsItems.js
  components/Feeds/CommentsTextInput/MentionsModal/privacyMarker.js
  components/Feeds/CommentsTextInput/MentionsModal/privacyMarker.test.js
Due: none

Fix mobile task action visibility (AT-2286)
  components/TaskListView/TaskItem/EditTask.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
Due: none

Improve mobile bottom sheet dragging
  CLAUDE.md
  browser-tests/env.harness
  browser-tests/modalsheet/run.js
  components/TaskListView/TaskItem/EditTask.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/ModalShell/ModalShell.test.js
  components/UIComponents/ModalShell/bottomSheetGesture.js
  components/UIComponents/ModalShell/bottomSheetGesture.test.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
Due: none

Merge branch 'ai/at-2286-reveal-task-actions' into 'master'
  CLAUDE.md
  browser-tests/env.harness
  browser-tests/modalsheet/run.js
  components/TaskListView/TaskItem/EditTask.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/ModalShell/ModalShell.test.js
  components/UIComponents/ModalShell/bottomSheetGesture.js
  components/UIComponents/ModalShell/bottomSheetGesture.test.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
Due: none

Merge branch 'ai/mobile-bottom-sheet-drag' into 'master'
  components/TaskListView/TaskItem/EditTask.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
Due: none

Merge branch 'ai/mobile-bottom-sheet-drag' into 'master'
  CLAUDE.md
  browser-tests/env.harness
  browser-tests/modalsheet/run.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/ModalShell/ModalShell.test.js
  components/UIComponents/ModalShell/bottomSheetGesture.js
  components/UIComponents/ModalShell/bottomSheetGesture.test.js
Due: none

Fix mobile bottom sheet touch dragging
  browser-tests/modalsheet/run.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/ModalShell/ModalShell.test.js
Due: none

Prevent following index overflow
  __tests__/BatchWrapper/batchWrapper.test.js
  __tests__/Firestore/followingIndexConfig.test.js
  firestore.indexes.json
  functions/BatchWrapper/batchWrapper.js
  functions/Followers/followerHelper.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(modals): comment-popup sheet drag + upward-overdrag bleed (AT-2287)
  CLAUDE.md
  components/UIComponents/FloatModals/RichCommentModal/RichCommentDismissSurface.test.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/PopupDismissSurface.js
Due: none
