Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

modules_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

firebase_cmd_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

functions_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

deploy:cloud:functions:staging:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_staging
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

deploy:cloud:functions:production:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_production
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

Keep parent goal picker clicks stable
  CLAUDE.md
  components/UIComponents/FloatModals/RichCommentModal/RichCommentDismissSurface.test.js
  components/UIComponents/FloatModals/TaskParentGoalModal/TaskParentGoalModal.js
  components/UIComponents/FloatModals/TaskParentGoalModal/goalSelectionToggle.js
  components/UIComponents/FloatModals/TaskParentGoalModal/goalSelectionToggle.test.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/PopupDismissSurface.js
Due: none

Keep parent goal picker clicks stable
  CLAUDE.md
  components/SettingsView/Customizations/Customizations.js
  components/SettingsView/Customizations/Properties/AutoArchiveProjectsAfterDays.js
  components/SettingsView/Customizations/Properties/AutoArchiveProjectsAfterDays.test.js
  components/SettingsView/Customizations/Properties/autoArchiveProjectsAfterDaysHelper.js
  components/SettingsView/Customizations/Properties/autoArchiveProjectsAfterDaysHelper.test.js
  components/UIComponents/FloatModals/AutoArchiveProjectsAfterDaysModal.js
  components/UIComponents/FloatModals/RichCommentModal/RichCommentDismissSurface.test.js
  components/UIComponents/FloatModals/TaskParentGoalModal/TaskParentGoalModal.js
  components/UIComponents/FloatModals/TaskParentGoalModal/goalSelectionToggle.js
  components/UIComponents/FloatModals/TaskParentGoalModal/goalSelectionToggle.test.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/PopupDismissSurface.js
  functions/Feeds/FeedsConstants.js
  functions/Feeds/globalFeedsHelper.js
  functions/Feeds/projectsFeeds.js
  functions/Feeds/projectsFeeds.test.js
  functions/Projects/autoArchiveProjectsCloud.js
  functions/Projects/autoArchiveProjectsCloud.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/Users/usersFirestore.js
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Add automatic project archival
  CLAUDE.md
  components/SettingsView/Customizations/Customizations.js
  components/SettingsView/Customizations/Properties/AutoArchiveProjectsAfterDays.js
  components/SettingsView/Customizations/Properties/AutoArchiveProjectsAfterDays.test.js
  components/SettingsView/Customizations/Properties/autoArchiveProjectsAfterDaysHelper.js
  components/SettingsView/Customizations/Properties/autoArchiveProjectsAfterDaysHelper.test.js
  components/UIComponents/FloatModals/AutoArchiveProjectsAfterDaysModal.js
  components/UIComponents/FloatModals/RichCommentModal/RichCommentDismissSurface.test.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/PopupDismissSurface.js
  functions/Feeds/FeedsConstants.js
  functions/Feeds/globalFeedsHelper.js
  functions/Feeds/projectsFeeds.js
  functions/Feeds/projectsFeeds.test.js
  functions/Projects/autoArchiveProjectsCloud.js
  functions/Projects/autoArchiveProjectsCloud.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/Users/usersFirestore.js
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Add automatic project archival
  components/SettingsView/Customizations/Customizations.js
  components/SettingsView/Customizations/Properties/AutoArchiveProjectsAfterDays.js
  components/SettingsView/Customizations/Properties/AutoArchiveProjectsAfterDays.test.js
  components/SettingsView/Customizations/Properties/autoArchiveProjectsAfterDaysHelper.js
  components/SettingsView/Customizations/Properties/autoArchiveProjectsAfterDaysHelper.test.js
  components/UIComponents/FloatModals/AutoArchiveProjectsAfterDaysModal.js
  components/UIComponents/FloatModals/TaskParentGoalModal/TaskParentGoalModal.js
  components/UIComponents/FloatModals/TaskParentGoalModal/goalSelectionToggle.js
  components/UIComponents/FloatModals/TaskParentGoalModal/goalSelectionToggle.test.js
  functions/Feeds/FeedsConstants.js
  functions/Feeds/globalFeedsHelper.js
  functions/Feeds/projectsFeeds.js
  functions/Feeds/projectsFeeds.test.js
  functions/Projects/autoArchiveProjectsCloud.js
  functions/Projects/autoArchiveProjectsCloud.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/Users/usersFirestore.js
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/auto-archive-inactive-projects' into 'master'
  CLAUDE.md
  components/UIComponents/FloatModals/RichCommentModal/RichCommentDismissSurface.test.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/PopupDismissSurface.js
Due: none

Merge branch 'ai/fix-parent-goal-update' into 'master'
  CLAUDE.md
  components/SettingsView/Customizations/Customizations.js
  components/SettingsView/Customizations/Properties/AutoArchiveProjectsAfterDays.js
  components/SettingsView/Customizations/Properties/AutoArchiveProjectsAfterDays.test.js
  components/SettingsView/Customizations/Properties/autoArchiveProjectsAfterDaysHelper.js
  components/SettingsView/Customizations/Properties/autoArchiveProjectsAfterDaysHelper.test.js
  components/UIComponents/FloatModals/AutoArchiveProjectsAfterDaysModal.js
  components/UIComponents/FloatModals/RichCommentModal/RichCommentDismissSurface.test.js
  components/UIComponents/ModalShell/BottomSheet.js
  components/UIComponents/PopupDismissSurface.js
  functions/Feeds/FeedsConstants.js
  functions/Feeds/globalFeedsHelper.js
  functions/Feeds/projectsFeeds.js
  functions/Feeds/projectsFeeds.test.js
  functions/Projects/autoArchiveProjectsCloud.js
  functions/Projects/autoArchiveProjectsCloud.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/Users/usersFirestore.js
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/fix-parent-goal-update' into 'master'
  components/UIComponents/FloatModals/TaskParentGoalModal/TaskParentGoalModal.js
  components/UIComponents/FloatModals/TaskParentGoalModal/goalSelectionToggle.js
  components/UIComponents/FloatModals/TaskParentGoalModal/goalSelectionToggle.test.js
Due: none

Restrict default project to owned projects
  __tests__/Firestore/defaultProjectAuthorization.test.js
  components/SettingsView/Customizations/Properties/DefaultProject/DefaultProject.js
  components/SettingsView/Customizations/Properties/DefaultProject/DefaultProject.test.js
  firestore.rules
  functions/Users/defaultProject.js
  functions/Users/defaultProject.test.js
  functions/index.js
  utils/backends/Users/usersFirestore.js
  utils/backends/firestore.js
  utils/defaultProjectAuthorization.js
  utils/defaultProjectAuthorization.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

chore(logging): gate verbose client tracing behind __DEV__
  URLSystem/Notes/URLsNotesTrigger.js
  components/Feeds/InteractionBar/CommentsWrapper.js
  components/Tags/TaskCommentsWrapper.js
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/CheckBoxWrapper.js
  components/TaskListView/Utils/TasksHelper.js
  components/UIComponents/DueDateSinglePopup.js
  components/UIComponents/FloatModals/RichCommentModal/RichCommentModal.js
  utils/DayRateTimeLogHelper.js
  utils/assistantHelper.js
  utils/backends/Chats/chatsComments.js
  utils/backends/Tasks/tasksFirestore.js
  utils/backends/firestore.js
Due: none

fix(initial-load): survive transient Firestore reads and heal stale project state
  __tests__/redux/addProjectData.test.js
  __tests__/utils/InitialLoad/loadInitialDataForLoggedUser.test.js
  __tests__/utils/InitialLoad/projectsInitialDataHelper.test.js
  redux/actions.js
  redux/store.js
  utils/EstimationHelper.js
  utils/EstimationHelper.test.js
  utils/InitialLoad/initialLoadHelper.js
  utils/InitialLoad/loggedUserHelper.js
  utils/InitialLoad/projectRecovery.js
  utils/InitialLoad/projectRecovery.test.js
  utils/InitialLoad/projectsInitialDataHelper.js
  utils/InitialLoad/staleProjectSelfHeal.js
  utils/InitialLoad/staleProjectSelfHeal.test.js
  utils/backends/Users/usersFirestore.js
  utils/backends/firestore.js
Due: none

chore(logging): diagnose user-doc-not-found and calm expected FCM failures
  utils/backends/Users/usersFirestore.js
  utils/backends/firestore.js
Due: none

fix(firestore): declare the entries.* single-field exemption that is live
  __tests__/Firestore/followingIndexConfig.test.js
  firestore.indexes.json
Due: none

fix(tasks): stop task writes racing themselves into failed-precondition
  utils/backends/Tasks/tasksFirestore.js
  utils/backends/Tasks/updateTaskDataContention.test.js
Due: none

fix(login): confirm a missing user document before treating the account as new
  utils/backends/Users/fetchUserDataResult.test.js
  utils/backends/Users/usersFirestore.js
Due: none

fix(admin): stop a phantom-missing user document from hiding the Admin sidebar
  utils/backends/firestore.js
Due: none

fix(initial-load): heal a degraded boot by re-fetching and rebuilding the connection
  utils/InitialLoad/bootIntegrityHealer.js
  utils/InitialLoad/bootIntegrityHealer.test.js
  utils/InitialLoad/loggedUserHelper.js
  utils/InitialLoad/staleProjectSelfHeal.js
  utils/InitialLoad/staleProjectSelfHeal.test.js
Due: none

Make initial project loading authoritative
  __tests__/utils/InitialLoad/loadInitialDataForLoggedUser.test.js
  components/SettingsView/Integrations/IntegrationsSettings.js
  utils/InitialLoad/bootIntegrityHealer.js
  utils/InitialLoad/bootIntegrityHealer.test.js
  utils/InitialLoad/loggedUserHelper.js
  utils/backends/Users/fetchUserDataResult.test.js
  utils/backends/Users/usersFirestore.js
  utils/backends/firestore.js
  utils/backends/firestoreDirectRead.js
Due: none

Make project recovery non-destructive
  utils/InitialLoad/staleProjectSelfHeal.js
  utils/InitialLoad/staleProjectSelfHeal.test.js
  utils/backends/Users/usersFirestore.js
  utils/backends/firestoreDirectRead.js
  utils/backends/firestoreDirectRead.test.js
Due: none

Clean up expected browser warnings
  components/SettingsView/Integrations/AgentSubscriptionsSection.js
  components/SettingsView/Integrations/AgentSubscriptionsSection.test.js
  utils/backends/firestore.js
Due: none

Fix parent goal property updates
  components/TaskDetailedView/Properties/ParentGoalWrapper.js
  components/TaskDetailedView/Properties/ParentGoalWrapper.test.js
  components/UIComponents/FloatModals/TaskParentGoalModal/TaskParentGoalModal.js
  utils/backends/Tasks/tasksFirestore.js
  utils/backends/Tasks/updateTaskGoalPreservation.test.js
Due: none

Start local web development with HTTPS
  package.json
  web-bundler/README.md
  web-bundler/webpack.config.js
Due: modules_cache

Fix parent goal saves from task editors
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/SecondaryButtonsArea.js
  components/TaskListView/TaskItem/SecondaryButtonsArea.test.js
  components/UIComponents/FloatModals/DragTaskModal.js
  components/UIComponents/FloatModals/MorePopupsOfEditModals/Tasks/TaskMoreButton.js
  utils/BackendBridge.js
  utils/backends/Tasks/tasksFirestore.js
  utils/backends/firestore.js
Due: none

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*
