Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*

Merge branch 'ai/workflow-step-skip-prompt-when-run-live' into 'master'
  CLAUDE.md
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'master' into ai/vm-default-model-family-selection
  CLAUDE.md
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/vm-default-model-family-selection' into 'master'
  CLAUDE.md
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(vm): honor saved VM agent default unless the user asked otherwise
  CLAUDE.md
  __tests__/UIControls/Button.test.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  components/Suggeted/SuggestedBulkActions.js
  components/Suggeted/SuggestedBulkActions.test.js
  components/UIControls/Button.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmRunOverrideGuard.js
  functions/Assistant/vmRunOverrideGuard.test.js
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'master' into ai/vm-agent-default-override-guard
  CLAUDE.md
  __tests__/UIControls/Button.test.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  components/Suggeted/SuggestedBulkActions.js
  components/Suggeted/SuggestedBulkActions.test.js
  components/UIControls/Button.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Tasks/workflowAiStep.js
  functions/Tasks/workflowAiStep.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/firestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge remote-tracking branch 'origin/master' into ai/at-2220-task-editor-scroll-jump
  CLAUDE.md
  browser-tests/README.md
  browser-tests/at2220/harness.entry.js
  browser-tests/at2220/run.js
  components/Feeds/CommentsTextInput/CustomTextInput3.js
  components/Feeds/CommentsTextInput/quill2Setup.js
  components/Feeds/CommentsTextInput/quill2SetupScrollBoundary.test.js
  components/TaskListView/TaskItem/EditTask.js
  hooks/useRevealEditorOnOpen.js
  utils/scrollUtils.js
  utils/scrollUtils.test.js
Due: none

ci: stop stale pipelines from overwriting newer production deploys
  .gitlab-ci.yml
  CLAUDE.md
  __tests__/CiDeployGuard.test.js
  ci/Dockerfile_firebase
  ci/assertNewestCommit.sh
Due: firebase_cmd_cache

feat(settings): single, centred loading spinner for Integrations (AT-2229)
  components/SettingsView/Integrations/AgentSubscriptionsSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/IntegrationsLoadingRegion.js
  components/SettingsView/Integrations/IntegrationsLoadingRegion.test.js
  components/SettingsView/Integrations/IntegrationsSettings.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

fix(email): keep quoted reply history so Anna can read the thread (AT-2232)
  cloudflare/email-worker/src/index.mjs
  components/SettingsView/Integrations/AgentSubscriptionsSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/IntegrationsLoadingRegion.js
  components/SettingsView/Integrations/IntegrationsLoadingRegion.test.js
  components/SettingsView/Integrations/IntegrationsSettings.js
  functions/Email/emailChannelHelpers.js
  functions/Email/emailChannelHelpers.test.js
  functions/Email/emailDailyTopic.js
  functions/Email/emailInboundQueueProcessor.js
  functions/Email/emailIncomingHandler.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2229-integrations-loading-state' into 'master'
  components/SettingsView/Integrations/AgentSubscriptionsSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/IntegrationsLoadingRegion.js
  components/SettingsView/Integrations/IntegrationsLoadingRegion.test.js
  components/SettingsView/Integrations/IntegrationsSettings.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

fix(vm): stop pausing permissive runs on a download piped into a local program (AT-2235)
  CLAUDE.md
  functions/Assistant/vmAgentApprovalPolicy.js
  functions/Assistant/vmAgentApprovalPolicy.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

feat(vm): allow OpenRouter models for the Codex harness (AT-2230)
  CLAUDE.md
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmAgentApprovalPolicy.js
  functions/Assistant/vmAgentApprovalPolicy.test.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
  functions/Assistant/vmModelRouting.js
  functions/Assistant/vmModelRouting.test.js
  functions/Assistant/vmRunOverrideGuard.js
  functions/Assistant/vmRunOverrideGuard.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

feat(vm): price DeepSeek at a fifth of the Gold of every other model
  CLAUDE.md
  functions/Assistant/vmJob.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
  functions/Assistant/vmRunOverrideGuard.js
  functions/Assistant/vmRunOverrideGuard.test.js
  functions/Assistant/vmTokenPricing.js
  functions/Assistant/vmTokenPricing.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(vm): reject an unconfigured OpenRouter run before charging Gold
  CLAUDE.md
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(version): reload once, not twice, after a version update (AT-2234)
  CLAUDE.md
  __tests__/utils/ObserversVersionReload.test.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
  functions/Assistant/vmModelRouting.js
  functions/Assistant/vmModelRouting.test.js
  functions/Assistant/vmRunOverrideGuard.js
  functions/Assistant/vmRunOverrideGuard.test.js
  functions/Assistant/vmTokenPricing.js
  functions/Assistant/vmTokenPricing.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/Observers.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2235-permissive-curl-approval' into 'master'
  CLAUDE.md
  __tests__/utils/ObserversVersionReload.test.js
  functions/Assistant/vmAgentApprovalPolicy.js
  functions/Assistant/vmAgentApprovalPolicy.test.js
  utils/Observers.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2234-single-version-update-reload' into 'master'
  __tests__/utils/ObserversVersionReload.test.js
  utils/Observers.js
Due: none

feat(vm): price VM Gold per model as a researched multiple of Sol
  CLAUDE.md
  __tests__/utils/ObserversVersionReload.test.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmAgentApprovalPolicy.js
  functions/Assistant/vmAgentApprovalPolicy.test.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
  functions/Assistant/vmModelRouting.js
  functions/Assistant/vmModelRouting.test.js
  functions/Assistant/vmRunOverrideGuard.js
  functions/Assistant/vmRunOverrideGuard.test.js
  functions/Assistant/vmTokenPricing.js
  functions/Assistant/vmTokenPricing.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/Observers.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2230-openrouter-codex-models' into 'master'
  CLAUDE.md
  __tests__/utils/ObserversVersionReload.test.js
  functions/Assistant/vmAgentApprovalPolicy.js
  functions/Assistant/vmAgentApprovalPolicy.test.js
  utils/Observers.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(search): stop the mobile search popup closing itself on open (AT-2236)
  CLAUDE.md
  __tests__/utils/ObserversVersionReload.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.dismissRace.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
  functions/Assistant/vmModelRouting.js
  functions/Assistant/vmModelRouting.test.js
  functions/Assistant/vmRunOverrideGuard.js
  functions/Assistant/vmRunOverrideGuard.test.js
  functions/Assistant/vmTokenPricing.js
  functions/Assistant/vmTokenPricing.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/Observers.js
  utils/popupDismissGuard.js
  utils/popupDismissGuard.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(search): widen the touch grace window to what a real repeat tap measures
  components/GlobalSearchAlgolia/GlobalSearchModal.dismissRace.test.js
  utils/popupDismissGuard.js
  utils/popupDismissGuard.test.js
Due: none

Merge branch 'ai/at-2236-mobile-search-popup-dismiss' into 'master'
  CLAUDE.md
  __tests__/utils/ObserversVersionReload.test.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  components/SettingsView/Integrations/DefaultVmAgentSection.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/vmAgentModelCatalog.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmAgentSettings.js
  functions/Assistant/vmAgentSettings.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
  functions/Assistant/vmModelRouting.js
  functions/Assistant/vmModelRouting.test.js
  functions/Assistant/vmRunOverrideGuard.js
  functions/Assistant/vmRunOverrideGuard.test.js
  functions/Assistant/vmTokenPricing.js
  functions/Assistant/vmTokenPricing.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/Observers.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

feat(vm): OpenRouter BYOK, and make the platform key actually reachable (AT-2230)
  CLAUDE.md
  components/SettingsView/Integrations/AgentSubscriptionsSection.js
  components/SettingsView/Integrations/AgentSubscriptionsSection.test.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  functions/Assistant/cloud-run-job/README.md
  functions/Assistant/vmApiKeyAuth.js
  functions/Assistant/vmApiKeyAuth.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
  functions/Assistant/vmModelRouting.js
  functions/Assistant/vmModelRouting.test.js
  functions/Assistant/vmSubscriptionAuth.js
  functions/envFunctionsHelper.js
  functions/envFunctionsHelper.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'master' into ai/at-2238-deepseek-flash-openrouter
  CLAUDE.md
  components/SettingsView/Integrations/AgentSubscriptionsSection.js
  components/SettingsView/Integrations/AgentSubscriptionsSection.test.js
  components/SettingsView/Integrations/DefaultVmAgentSection.js
  functions/Assistant/cloud-run-job/README.md
  functions/Assistant/vmApiKeyAuth.js
  functions/Assistant/vmApiKeyAuth.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
  functions/Assistant/vmModelRouting.js
  functions/Assistant/vmModelRouting.test.js
  functions/Assistant/vmSubscriptionAuth.js
  functions/envFunctionsHelper.js
  functions/envFunctionsHelper.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(vm): keep a continued VM run on its session's agent (AT-2240)
  CLAUDE.md
  components/AdminPanel/Assistants/assistantsHelper.js
  components/AssistantDetailedView/Customizations/Model/ModelWrapper.js
  components/AssistantDetailedView/Customizations/UpdateFromTemplate/UpdateFromTemplate.js
  components/ProjectDetailedView/ProjectProperties/ConnectCalendar/ConnectCalendarModal/CalendarProjectRoutingSettings.helpers.js
  components/ProjectDetailedView/ProjectProperties/ConnectCalendar/ConnectCalendarModal/CalendarProjectRoutingSettings.js
  components/ProjectDetailedView/ProjectProperties/ConnectCalendar/ConnectCalendarModal/CalendarProjectRoutingSettings.test.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/assistantModelRouting.js
  functions/Assistant/assistantModelRouting.test.js
  functions/Assistant/classifierModelClient.js
  functions/Assistant/classifierModelClient.test.js
  functions/Assistant/heartbeatSettingsHelper.test.js
  functions/Assistant/openRouterChatClient.js
  functions/Assistant/openRouterChatClient.test.js
  functions/Assistant/preConfigTaskModel.test.js
  functions/Assistant/selectableAssistantModels.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/Assistant/vmJob.js
  functions/Assistant/vmJob.test.js
  functions/Assistant/vmThreadAgentContinuity.js
  functions/Assistant/vmThreadAgentContinuity.test.js
  functions/Assistant/vmThreadQueue.js
  functions/Gmail/gmailPromptClassifier.js
  functions/GoogleCalendar/calendarProjectClassifier.js
  functions/GoogleCalendar/calendarProjectRoutingConfig.js
  functions/GoogleCalendar/calendarProjectRoutingConfig.test.js
  functions/envFunctionsHelper.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/Assistants/assistantUpdates.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2240-vm-agent-continuity' into 'master'
  CLAUDE.md
  components/AdminPanel/Assistants/assistantsHelper.js
  components/AssistantDetailedView/Customizations/Model/ModelWrapper.js
  components/AssistantDetailedView/Customizations/UpdateFromTemplate/UpdateFromTemplate.js
  components/ProjectDetailedView/ProjectProperties/ConnectCalendar/ConnectCalendarModal/CalendarProjectRoutingSettings.helpers.js
  components/ProjectDetailedView/ProjectProperties/ConnectCalendar/ConnectCalendarModal/CalendarProjectRoutingSettings.js
  components/ProjectDetailedView/ProjectProperties/ConnectCalendar/ConnectCalendarModal/CalendarProjectRoutingSettings.test.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/assistantModelRouting.js
  functions/Assistant/assistantModelRouting.test.js
  functions/Assistant/classifierModelClient.js
  functions/Assistant/classifierModelClient.test.js
  functions/Assistant/heartbeatSettingsHelper.test.js
  functions/Assistant/openRouterChatClient.js
  functions/Assistant/openRouterChatClient.test.js
  functions/Assistant/preConfigTaskModel.test.js
  functions/Assistant/selectableAssistantModels.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/Gmail/gmailPromptClassifier.js
  functions/GoogleCalendar/calendarProjectClassifier.js
  functions/GoogleCalendar/calendarProjectRoutingConfig.js
  functions/GoogleCalendar/calendarProjectRoutingConfig.test.js
  functions/envFunctionsHelper.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/Assistants/assistantUpdates.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(vm): speak the Responses API to OpenRouter — Codex removed wire_api "chat"
  functions/Assistant/openRouterChatClient.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(assistant): stop [Sent at ...] mimicry and mark truncated replies (AT-2241)
  functions/Assistant/assistantHeartbeat.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/openRouterChatClient.js
  functions/Assistant/openRouterChatClient.test.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
  functions/Email/emailDailyTopic.js
  functions/WhatsApp/whatsAppDailyTopic.js
  functions/WhatsApp/whatsAppDailyTopic.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2241-assistant-sent-prefix-and-truncation' into 'master'
  functions/Assistant/openRouterChatClient.js
  functions/Assistant/vmJobRunner.js
  functions/Assistant/vmJobRunner.test.js
  functions/Assistant/vmLlmProxy.js
  functions/Assistant/vmLlmProxy.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production
