Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

modules_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

firebase_cmd_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

functions_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

deploy:cloud:functions:staging:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_staging
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

deploy:cloud:functions:production:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_production
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

Use neutral backgrounds in the assistant workspace
  components/Anna/AnnaShell.js
  components/Anna/anna.css
Due: none

Use local emulators and improve new account defaults
  CLAUDE.md
  README.md
  __tests__/ContactsView/Utils/ContactsHelper.test.js
  components/AdminPanel/Assistants/assistantsHelper.js
  components/ContactsView/Utils/ContactsHelper.js
  firebase.local.json
  local-emulators/database.rules.json
  local-emulators/storage.rules
  package.json
  utils/InitialLoad/newUserDefaults.js
  utils/InitialLoad/newUserDefaults.test.js
  utils/InitialLoad/newUserHelper.js
  utils/backends/Users/reportNewDayStatisticsError.js
  utils/backends/Users/reportNewDayStatisticsError.test.js
  utils/backends/firebaseEmulatorRouting.test.js
  utils/backends/firestore.js
  utils/backends/firestoreDirectRead.js
  utils/backends/firestoreDirectRead.test.js
  utils/backends/firestorePersistence.js
  utils/defaultProfilePhotos.js
  utils/defaultProfilePhotos.test.js
  utils/firebaseEmulators.js
  utils/firebaseEmulators.test.js
  utils/openInNewWindow.js
  utils/openInNewWindow.test.js
  utils/webFirebaseAuth.js
  web-bundler/README.md
  web-bundler/webpack.config.js
Due: modules_cache

Refine Anna workspace controls and resume on chat
  components/Anna/AnnaBrowserWorkspace.js
  components/Anna/AnnaBrowserWorkspace.test.js
  components/Anna/AnnaConversation.js
  components/Anna/AnnaConversation.test.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/anna.css
  components/MyDayView/AssistantLine/AssistantLine.js
Due: none

Restore localhost callable functions with the pinned emulator
  CLAUDE.md
  __tests__/ci/prepareLocalEmulators.test.js
  ci/prepare-local-emulators.js
  package.json
  utils/backends/firestore.js
  utils/firebaseEmulators.js
  utils/firebaseEmulators.test.js
  web-bundler/webpack.config.js
Due: modules_cache

Continue tasks across email threads
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Email/AT-2709.md
  functions/Email/__fixtures__/emailDatabase.js
  functions/Email/emailLine/emailLineService.js
  functions/Email/emailLine/emailLineService.test.js
  functions/Email/emailLine/taskSummarizer.js
  functions/Email/emailLine/taskSummarizer.test.js
  functions/Email/emailTaskContentUpdate.js
  functions/Email/emailThreadContinuation.js
  functions/Email/emailThreadContinuation.test.js
  functions/Email/emailThreadTaskStore.js
  functions/Gmail/serverSideGmailLabelingSync.js
  functions/Gmail/serverSideGmailLabelingSync.test.js
  functions/shared/TaskCommentService.js
  functions/shared/TaskService.emailThread.test.js
  functions/shared/TaskService.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2709-email-thread-tasks' into 'master'
  CLAUDE.md
  README.md
  __tests__/ContactsView/Utils/ContactsHelper.test.js
  __tests__/ci/prepareLocalEmulators.test.js
  ci/prepare-local-emulators.js
  components/AdminPanel/Assistants/assistantsHelper.js
  components/Anna/AnnaBrowserWorkspace.js
  components/Anna/AnnaBrowserWorkspace.test.js
  components/Anna/AnnaConversation.js
  components/Anna/AnnaConversation.test.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/anna.css
  components/ContactsView/Utils/ContactsHelper.js
  components/MyDayView/AssistantLine/AssistantLine.js
  firebase.local.json
  local-emulators/database.rules.json
  local-emulators/storage.rules
  package.json
  utils/InitialLoad/newUserDefaults.js
  utils/InitialLoad/newUserDefaults.test.js
  utils/InitialLoad/newUserHelper.js
  utils/backends/Users/reportNewDayStatisticsError.js
  utils/backends/Users/reportNewDayStatisticsError.test.js
  utils/backends/firebaseEmulatorRouting.test.js
  utils/backends/firestore.js
  utils/backends/firestoreDirectRead.js
  utils/backends/firestoreDirectRead.test.js
  utils/backends/firestorePersistence.js
  utils/defaultProfilePhotos.js
  utils/defaultProfilePhotos.test.js
  utils/firebaseEmulators.js
  utils/firebaseEmulators.test.js
  utils/openInNewWindow.js
  utils/openInNewWindow.test.js
  utils/webFirebaseAuth.js
  web-bundler/README.md
  web-bundler/webpack.config.js
Due: modules_cache

Show workspace context changes in the assistant chat
  components/Anna/AnnaBrowserWorkspace.js
  components/Anna/AnnaBrowserWorkspace.test.js
  components/Anna/AnnaConversation.js
  components/Anna/AnnaConversation.test.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/anna.css
  components/Anna/useAnnaContextNotices.js
Due: none

Fix assistant reveal scrolling in Alldone ScrollViews
  CLAUDE.md
  browser-tests/anna-workspace/harness.entry.js
  browser-tests/anna-workspace/run.js
  components/Anna/AnnaWorkspaceReveal.js
  components/Anna/annaWorkspaceRevealTargets.js
  components/Anna/annaWorkspaceRevealTargets.test.js
Due: none

Return assistant workspace home after completed work
  CLAUDE.md
  browser-tests/anna-workspace/run.js
  browser-tests/anna-workspace/services.js
  components/Anna/AnnaConversation.js
  components/Anna/AnnaConversation.test.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/AnnaWorkspaceReveal.js
  components/Anna/AnnaWorkspaceReveal.test.js
  components/Anna/anna.css
  components/Anna/annaWorkspaceWorkState.js
  components/Anna/annaWorkspaceWorkState.test.js
  functions/Assistant/annaWorkspaceChanges.js
  functions/Assistant/annaWorkspaceChanges.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Open interactive login in the assistant browser workspace
  CLAUDE.md
  browser-tests/anna-workspace/message.js
  browser-tests/anna-workspace/run.js
  browser-tests/anna-workspace/services.js
  browser-tests/anna-workspace/webpack.setup.js
  components/Anna/AnnaBrowserTakeoverContext.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/anna.css
  components/ChatsView/ChatDV/EditorView/BrowserApprovalCard.js
  components/ChatsView/ChatDV/EditorView/BrowserApprovalCard.test.js
  components/ChatsView/ChatDV/EditorView/BrowserTakeoverPanel.js
  functions/Assistant/browser/README.md
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Allow assistants to set task parent goals
  CLAUDE.md
  browser-tests/anna-workspace/message.js
  browser-tests/anna-workspace/run.js
  browser-tests/anna-workspace/services.js
  browser-tests/anna-workspace/webpack.setup.js
  components/Anna/AnnaBrowserTakeoverContext.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/AnnaVmWorkspace.js
  components/Anna/AnnaVmWorkspace.test.js
  components/Anna/anna.css
  components/Anna/useAnnaVmJobs.js
  components/Anna/useAnnaVmJobs.test.js
  components/ChatsView/ChatDV/EditorView/BrowserApprovalCard.js
  components/ChatsView/ChatDV/EditorView/BrowserApprovalCard.test.js
  components/ChatsView/ChatDV/EditorView/BrowserTakeoverPanel.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/browser/README.md
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/Assistant/vmWorkspace.js
  functions/Assistant/vmWorkspace.test.js
  functions/MCP/mcpServerSimple.test.js
  functions/Tasks/taskGoalRouting.test.js
  functions/index.js
  functions/shared/TaskModelBuilder.js
  functions/shared/TaskModelBuilder.test.js
  functions/shared/TaskService.js
  functions/shared/TaskService.parentGoal.test.js
  functions/shared/TaskUpdateService.js
  functions/shared/taskParentGoal.js
  functions/shared/taskParentGoal.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Show live VM activity in assistant workspace
  CLAUDE.md
  browser-tests/anna-workspace/run.js
  browser-tests/anna-workspace/services.js
  browser-tests/anna-workspace/webpack.setup.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/AnnaVmWorkspace.js
  components/Anna/AnnaVmWorkspace.test.js
  components/Anna/anna.css
  components/Anna/useAnnaVmJobs.js
  components/Anna/useAnnaVmJobs.test.js
  functions/Assistant/vmWorkspace.js
  functions/Assistant/vmWorkspace.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2713-assistant-parent-goal' into 'master'
  CLAUDE.md
  browser-tests/anna-workspace/message.js
  browser-tests/anna-workspace/run.js
  browser-tests/anna-workspace/services.js
  browser-tests/anna-workspace/webpack.setup.js
  components/Anna/AnnaBrowserTakeoverContext.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/AnnaVmWorkspace.js
  components/Anna/AnnaVmWorkspace.test.js
  components/Anna/anna.css
  components/Anna/useAnnaVmJobs.js
  components/Anna/useAnnaVmJobs.test.js
  components/ChatsView/ChatDV/EditorView/BrowserApprovalCard.js
  components/ChatsView/ChatDV/EditorView/BrowserApprovalCard.test.js
  components/ChatsView/ChatDV/EditorView/BrowserTakeoverPanel.js
  functions/Assistant/browser/README.md
  functions/Assistant/vmWorkspace.js
  functions/Assistant/vmWorkspace.test.js
  functions/index.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Improve assistant activity history and browser completion
  browser-tests/anna-workspace/run.js
  browser-tests/anna-workspace/services.js
  components/Anna/AnnaBrowserWorkspace.js
  components/Anna/AnnaBrowserWorkspace.test.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/useAnnaBrowserCompletion.js
  components/ChatsView/ChatDV/EditorView/AssistantProgress.js
  components/ChatsView/ChatDV/EditorView/AssistantProgress.test.js
  components/ChatsView/ChatDV/EditorView/AssistantThinking3D/AssistantThinking3D.js
  components/ChatsView/ChatDV/EditorView/MessageItemBody.js
  components/UIComponents/FloatModals/RichCommentModal/CommentsList.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/browser/browserSession.js
  functions/Assistant/browser/browserSession.test.js
  functions/Assistant/browser/browserWorkspaceActivity.js
  functions/Assistant/browser/browserWorkspaceActivity.test.js
  functions/shared/assistantActivityHistory.js
  functions/shared/assistantActivityHistory.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Add dictation to assistant chat
  browser-tests/anna-workspace/harness.entry.js
  browser-tests/anna-workspace/recorder.js
  browser-tests/anna-workspace/run.js
  browser-tests/anna-workspace/services.js
  browser-tests/anna-workspace/webpack.setup.js
  components/Anna/AnnaConversation.js
  components/Anna/AnnaConversation.test.js
  components/UIControls/RambleButton.js
  components/UIControls/RambleHoldOverlay.js
Due: none

Preserve task totals through assistant context compaction
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/assistantResearchGuard.js
  functions/Assistant/attachmentToolHandoff.js
  functions/Assistant/taskListingContext.js
  functions/Assistant/taskListingContext.test.js
  functions/Assistant/toolSchemas.js
  functions/shared/TaskRetrievalService.js
  functions/shared/TaskRetrievalService.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Isolate VM tests from host checkout and CLI settings
  functions/Assistant/vmCloudRunLauncher.test.js
  functions/Assistant/vmJobRunner.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Detach and move tasks when assistants assign parent goals
  .gitlab-ci.yml
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/toolSchemas.js
  functions/Assistant/toolSchemas.test.js
  functions/MCP/mcpServerSimple.test.js
  functions/shared/TaskService.js
  functions/shared/TaskService.parentGoal.test.js
  functions/shared/TaskUpdateService.comment.test.js
  functions/shared/TaskUpdateService.js
  functions/shared/taskParentGoal.js
  functions/shared/taskParentGoal.test.js
  functions/shared/taskParentGoalMove.js
  functions/shared/taskParentGoalMove.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Improve assistant workspace interaction and mobile layout
  browser-tests/anna-workspace/run.js
  components/Anna/AnnaShell.js
  components/Anna/AnnaShell.test.js
  components/Anna/AnnaWorkspaceReveal.js
  components/Anna/AnnaWorkspaceReveal.test.js
  components/Anna/anna.css
  functions/Assistant/annaWorkspace.js
  functions/Assistant/annaWorkspaceControl.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/browser/browserWorkspace.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Align mobile workspace selector with the add button
  browser-tests/anna-workspace/harness.entry.js
  browser-tests/anna-workspace/run.js
  browser-tests/anna-workspace/services.js
  components/Anna/AnnaShell.js
  components/Anna/anna.css
Due: none

Enable object mentions in assistant mode chat
  browser-tests/at2718/README.md
  browser-tests/at2718/dependencies.js
  browser-tests/at2718/harness.entry.js
  browser-tests/at2718/picker.js
  browser-tests/at2718/run.js
  browser-tests/at2718/screenshots/phone-picker.png
  browser-tests/at2718/screenshots/sidebar-picker.png
  browser-tests/at2718/setup.js
  components/Anna/AnnaChatComposer.js
  components/Anna/AnnaChatComposer.test.js
  components/Anna/AnnaConversation.js
  components/Anna/AnnaConversation.test.js
  components/Anna/anna.css
  components/Feeds/CommentsTextInput/CustomTextInput3.js
  components/Feeds/CommentsTextInput/MentionsModal.js
  components/Feeds/CommentsTextInput/WrapperMentionsModal.js
  components/Feeds/CommentsTextInput/WrapperMentionsModal.viewport.test.js
  replacement_node_modules/react-tiny-popover/dist/Popover.js
Due: none

Fix object title and browser history URL pairing
  URLSystem/AdminPanel/URLsAdminPanel.js
  URLSystem/Assistants/URLsAssistants.js
  URLSystem/Chats/URLsChats.js
  URLSystem/Contacts/URLsContacts.js
  URLSystem/Goals/URLsGoals.js
  URLSystem/Notes/URLsNotes.js
  URLSystem/People/URLsPeople.js
  URLSystem/Projects/URLsProjects.js
  URLSystem/Settings/URLsSettings.js
  URLSystem/Skills/URLsSkills.js
  URLSystem/Tasks/URLsTasks.js
  URLSystem/URLSystem.js
  URLSystem/browserHistory.js
  __tests__/URLSystem/BrowserHistoryTitles.test.js
  __tests__/URLSystem/SharedHelperHistoryPop.test.js
  browser-tests/at2719/README.md
  browser-tests/at2719/dependencies.js
  browser-tests/at2719/harness.entry.js
  browser-tests/at2719/run.js
  browser-tests/at2719/setup.js
  utils/SharedHelper.js
Due: none

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*
