Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

modules_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

firebase_cmd_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

functions_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

deploy:cloud:functions:staging:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_staging
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

deploy:cloud:functions:production:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_production
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

Show named workflow actions on check
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/CheckBoxWrapper.test.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.test.js
  components/WorkflowModal/MainButtons.js
  components/WorkflowModal/MainButtons.test.js
  components/WorkflowModal/WorkflowModal.js
  components/WorkflowModal/workflowNavigation.js
  components/WorkflowModal/workflowNavigation.test.js
Due: none

Merge branch 'ai/at-2145-open-workflow-forward' into 'master'
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/CheckBoxWrapper.test.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.test.js
  components/WorkflowModal/MainButtons.js
  components/WorkflowModal/MainButtons.test.js
  components/WorkflowModal/WorkflowModal.js
  components/WorkflowModal/workflowNavigation.js
  components/WorkflowModal/workflowNavigation.test.js
Due: none

Merge master into AT-2146 workflow actions
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/CheckBoxWrapper.test.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.js
  components/WorkflowModal/MainButtons.js
  components/WorkflowModal/MainButtons.test.js
  components/WorkflowModal/WorkflowModal.js
  components/WorkflowModal/workflowNavigation.js
  components/WorkflowModal/workflowNavigation.test.js
Due: none

Fix mobile inline task focus state
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/SecondaryButtonsArea.js
  components/TaskListView/TaskItem/SecondaryButtonsArea.test.js
  components/TaskListView/TaskItem/TaskInput.js
  components/TaskListView/TaskItem/TaskInput.test.js
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/CheckBoxWrapper.test.js
  components/TaskListView/TaskItem/taskInputFocus.js
  components/TaskListView/TaskItem/taskInputFocus.test.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.js
  components/WorkflowModal/MainButtons.js
  components/WorkflowModal/MainButtons.test.js
  components/WorkflowModal/WorkflowModal.js
  components/WorkflowModal/workflowNavigation.js
  components/WorkflowModal/workflowNavigation.test.js
Due: none

Merge branch 'ai/at-2143-mobile-inline-focus' into 'master'
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/CheckBoxWrapper.test.js
  components/UIComponents/FloatModals/RichCommentModal/CommentPopupWorkflowControls.js
  components/WorkflowModal/MainButtons.js
  components/WorkflowModal/MainButtons.test.js
  components/WorkflowModal/WorkflowModal.js
  components/WorkflowModal/workflowNavigation.js
  components/WorkflowModal/workflowNavigation.test.js
Due: none

Match inline task input styling
  components/TaskListView/TaskItem/CheckboxAndIcon.js
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/TaskInput.js
  components/TaskListView/TaskItem/TaskInputArea.js
  components/TaskListView/TaskItem/TaskInputArea.test.js
Due: none

Increase workflow bypass spacing
  components/TaskListView/TaskItem/CheckboxAndIcon.js
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/TaskInput.js
  components/TaskListView/TaskItem/TaskInputArea.js
  components/TaskListView/TaskItem/TaskInputArea.test.js
  components/WorkflowModal/BypassWorkflowButton.js
  components/WorkflowModal/BypassWorkflowButton.test.js
Due: none

Merge branch 'ai/at-2143-match-inline-task-style' into 'master'
  components/TaskListView/TaskItem/CheckboxAndIcon.js
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/TaskInput.js
  components/TaskListView/TaskItem/TaskInputArea.js
  components/TaskListView/TaskItem/TaskInputArea.test.js
  components/WorkflowModal/BypassWorkflowButton.js
  components/WorkflowModal/BypassWorkflowButton.test.js
Due: none

Merge branch 'ai/at-2145-bypass-spacing' into 'master'
  components/WorkflowModal/BypassWorkflowButton.js
  components/WorkflowModal/BypassWorkflowButton.test.js
Due: none

Match assistant add task line styling
  components/TaskListView/OpenTasksView/OpenTaskViewForAssistants/WorkflowTaskCreator.js
  components/TaskListView/OpenTasksView/OpenTaskViewForAssistants/WorkflowTaskCreator.test.js
Due: none

Reuse normal add task layout for assistants
  components/GoalDetailedView/TasksView/GoalNewTaskSection.js
  components/TaskListView/OpenTasksView/NewTaskSection.js
  components/TaskListView/OpenTasksView/OpenTaskViewForAssistants/WorkflowTaskCreator.js
  components/TaskListView/OpenTasksView/OpenTaskViewForAssistants/WorkflowTaskCreator.test.js
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/TaskEditorLayout.js
Due: none

Fix mobile add task input focus
  components/GoalDetailedView/TasksView/GoalNewTaskSection.js
  components/TaskListView/OpenTasksView/NewTaskSection.js
  components/TaskListView/OpenTasksView/OpenTaskViewForAssistants/WorkflowTaskCreator.js
  components/TaskListView/OpenTasksView/OpenTaskViewForAssistants/WorkflowTaskCreator.test.js
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/TaskEditorLayout.js
  components/TaskListView/TaskItem/TaskInput.js
  components/TaskListView/TaskItem/TaskInput.test.js
  components/TaskListView/TaskItem/taskInputFocus.js
  components/TaskListView/TaskItem/taskInputFocus.test.js
Due: none

Show suggested tasks in all projects
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/TaskInput.js
  components/TaskListView/TaskItem/TaskInput.test.js
  components/TaskListView/TaskItem/taskInputFocus.js
  components/TaskListView/TaskItem/taskInputFocus.test.js
  utils/backends/openTasks.js
  utils/backends/openTasks.test.js
Due: none

Fix assistant suggestion identity
  components/AdminPanel/Assistants/assistantsHelper.js
  components/Suggeted/SuggestedModal.js
  components/TaskListView/OpenTasksView/SuggestedSection.js
  components/TaskListView/OpenTasksView/SuggestedSection.test.js
  i18n/translations/de.json
  utils/backends/openTasks.js
  utils/backends/openTasks.test.js
  utils/suggestedTaskFlow.js
  utils/suggestedTaskFlow.test.js
Due: none

Merge branch 'ai/at-2150-mobile-add-task-focus' into 'master'
  components/AdminPanel/Assistants/assistantsHelper.js
  components/Suggeted/SuggestedModal.js
  components/TaskListView/OpenTasksView/SuggestedSection.js
  components/TaskListView/OpenTasksView/SuggestedSection.test.js
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/TaskInput.js
  components/TaskListView/TaskItem/TaskInput.test.js
  components/TaskListView/TaskItem/taskInputFocus.js
  components/TaskListView/TaskItem/taskInputFocus.test.js
  i18n/translations/de.json
  utils/backends/openTasks.js
  utils/backends/openTasks.test.js
  utils/suggestedTaskFlow.js
  utils/suggestedTaskFlow.test.js
Due: none

Merge branch 'ai/fix-assistant-suggested-by' into 'master'
  components/AdminPanel/Assistants/assistantsHelper.js
  components/Suggeted/SuggestedModal.js
  components/TaskListView/OpenTasksView/SuggestedSection.js
  components/TaskListView/OpenTasksView/SuggestedSection.test.js
  i18n/translations/de.json
  utils/suggestedTaskFlow.js
  utils/suggestedTaskFlow.test.js
Due: none

Collapse assistant add task until selected
  components/AdminPanel/Assistants/assistantsHelper.js
  components/GoalDetailedView/TasksView/GoalNewTaskSection.js
  components/Suggeted/SuggestedModal.js
  components/TaskListView/AddTask.js
  components/TaskListView/OpenTasksView/NewTaskSection.js
  components/TaskListView/OpenTasksView/OpenTaskViewForAssistants/WorkflowTaskCreator.js
  components/TaskListView/OpenTasksView/OpenTaskViewForAssistants/WorkflowTaskCreator.test.js
  components/TaskListView/OpenTasksView/SuggestedSection.js
  components/TaskListView/OpenTasksView/SuggestedSection.test.js
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/TaskEditorLayout.js
  components/TaskListView/TaskItem/TaskInput.js
  components/TaskListView/TaskItem/TaskInput.test.js
  components/TaskListView/TaskItem/taskInputFocus.js
  components/TaskListView/TaskItem/taskInputFocus.test.js
  i18n/translations/de.json
  utils/backends/openTasks.js
  utils/backends/openTasks.test.js
  utils/suggestedTaskFlow.js
  utils/suggestedTaskFlow.test.js
Due: none

Merge master into AT-2149 assistant layout fix
  components/AdminPanel/Assistants/assistantsHelper.js
  components/Suggeted/SuggestedModal.js
  components/TaskListView/OpenTasksView/SuggestedSection.js
  components/TaskListView/OpenTasksView/SuggestedSection.test.js
  components/TaskListView/TaskItem/EditTask.js
  components/TaskListView/TaskItem/TaskInput.js
  components/TaskListView/TaskItem/TaskInput.test.js
  components/TaskListView/TaskItem/taskInputFocus.js
  components/TaskListView/TaskItem/taskInputFocus.test.js
  i18n/translations/de.json
  utils/backends/openTasks.js
  utils/backends/openTasks.test.js
  utils/suggestedTaskFlow.js
  utils/suggestedTaskFlow.test.js
Due: none

Protect unresolved suggested task completion
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/CheckBoxWrapper.js
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/CheckBoxWrapper.test.js
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/TaskFlowModal.js
  components/TaskListView/TaskItem/TaskPresentation/CheckBoxContainer/TaskFlowModal.test.js
Due: none

Update dependencies (Phase 0) and add dependency/migration plans
  DEPENDENCY_UPDATE_PLAN.md
  FRONTEND_MIGRATION_PLAN.md
  cloudflare/email-worker/package-lock.json
  cloudflare/email-worker/package.json
  functions/package-lock.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Replace runtime firebase-tools recursive deletes with firestore recursiveDelete
  DEPENDENCY_UPDATE_PLAN.md
  functions/Chats/onDeleteChatFunctions.js
  functions/Chats/onDeleteChatFunctions.test.js
  functions/FirestoreTool/Users.js
  functions/Projects/onDeleteProjectFunctions.js
  functions/Projects/onUpdateProjectFunctions.js
  functions/Users/onKickUserFromProject.js
  functions/Utils/HelperFunctionsCloud.js
  functions/package-lock.json
  functions/package.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Restore @babel/core range to ^7.0.0
  package.json
Due: modules_cache

Root app dependency hygiene (Phase 2)
  CLAUDE.md
  DEPENDENCY_UPDATE_PLAN.md
  __mocks__/@react-native-community/async-storage.js
  ci/jest.functions.config.js
  functions/index.js
  package-lock.json
  package.json
Due: modules_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Fix web build (y-websocket revert) and stop CI leaking the GitHub PAT
  DEPENDENCY_UPDATE_PLAN.md
  ci/github-push.sh
  functions/index.js
  package-lock.json
  package.json
Due: modules_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Pin firebase-admin to ^13: v14 removes the legacy namespace API
  CLAUDE.md
  DEPENDENCY_UPDATE_PLAN.md
  functions/package-lock.json
  functions/package.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Add @firebase/app: required by database-compat's standalone bundle
  DEPENDENCY_UPDATE_PLAN.md
  functions/package-lock.json
  functions/package.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Frontend migration Stage 0: standalone webpack 5 pipeline on Node 22
  .gitlab-ci.yml
  CLAUDE.md
  DEPENDENCY_UPDATE_PLAN.md
  FRONTEND_MIGRATION_PLAN.md
  ci/Dockerfile_web_bundler
  components/Feeds/CommentsTextInput/autoformat/tags/EmailWrapper.js
  components/FollowUp/CommentTagsSection.js
  components/FollowUp/Footer.js
  components/TaskDetailedView/Properties/InheritedPropertiesHeader.js
  package.json
  web-bundler/.nvmrc
  web-bundler/README.md
  web-bundler/babel.config.js
  web-bundler/check-node.js
  web-bundler/index.html
  web-bundler/package-lock.json
  web-bundler/package.json
  web-bundler/static/favicon-16.png
  web-bundler/static/favicon-32.png
  web-bundler/static/manifest.json
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-1125x2436.png
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-1242x2208.png
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-1242x2688.png
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-1536x2048.png
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-1668x2224.png
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-1668x2388.png
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-2048x2732.png
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-640x1136.png
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-750x1334.png
  web-bundler/static/pwa/apple-touch-startup-image/apple-touch-startup-image-828x1792.png
  web-bundler/static/pwa/chrome-icon/chrome-icon-144.png
  web-bundler/static/pwa/chrome-icon/chrome-icon-192.png
  web-bundler/static/pwa/chrome-icon/chrome-icon-512.png
  web-bundler/webpack.config.js
Due: modules_cache

Frontend migration Stage 1: remove vestigial native/dead dependencies
  App.js
  DEPENDENCY_UPDATE_PLAN.md
  FRONTEND_MIGRATION_PLAN.md
  __tests__/ContactsView/Utils/ContactsHelper.test.js
  __tests__/Tags/TaskPriorityTag.test.js
  __tests__/TaskDetailedView/Header/TaskTitle.test.js
  __tests__/i18n/TranslationService.test.js
  app.json
  ci/jestSetup.js
  components/Feeds/FeedsModals/ListCommentsComponents/AttachmentBox.js
  components/GoogleCalendar/GoogleMeetNotificationModal.js
  components/MeetingBooking/MeetingBookingPage.test.js
  components/MeetingBooking/bookingLanguage.test.js
  components/Premium/PremiumTab/CompanyInfoModal/Logo.js
  components/UIComponents/FloatModals/ImagePickerModal.js
  i18n/TranslationService.js
  package-lock.json
  package.json
  utils/HelperFunctions.js
  utils/WebShims/Fonts.js
  utils/WebShims/ImageManipulator.js
  utils/WebShims/ImagePicker.js
  utils/WebShims/Linking.js
  utils/WebShims/Localization.js
  web-bundler/webpack.config.js
  webpack.config.js
Due: modules_cache

Fix webpack shadow build in CI: resolve symlinked node_modules by path
  web-bundler/webpack.config.js
Due: none

Add manual preview-channel deploy for the webpack pipeline QA gate
  .gitlab-ci.yml
Due: none

Fix branch pipelines: preview deploy must not hard-need the shadow build
  .gitlab-ci.yml
  replacement_node_modules/react-beautiful-dnd/dist/react-beautiful-dnd.esm.js
  replacement_node_modules/react-native-web/dist/exports/ScrollView/ScrollViewBase.js
  replacement_node_modules/react-native-web/dist/exports/TextInput/index.js
  replacement_node_modules/react-native-web/dist/exports/TouchableOpacity/index.js
Due: none

Restore react-native-web + react-beautiful-dnd patches on master
  replacement_node_modules/react-beautiful-dnd/dist/react-beautiful-dnd.esm.js
  replacement_node_modules/react-native-web/dist/exports/ScrollView/ScrollViewBase.js
  replacement_node_modules/react-native-web/dist/exports/TextInput/index.js
  replacement_node_modules/react-native-web/dist/exports/TouchableOpacity/index.js
Due: none

Stage 0 accepted: flip web deploys to the webpack pipeline
  .gitlab-ci.yml
  CLAUDE.md
  FRONTEND_MIGRATION_PLAN.md
Due: none

Revert "Stage 0 accepted: flip web deploys to the webpack pipeline"
  .gitlab-ci.yml
  CLAUDE.md
  FRONTEND_MIGRATION_PLAN.md
Due: none

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*
