Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

modules_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

firebase_cmd_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

functions_cache:
  stage: build_base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

deploy:cloud:functions:staging:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_staging
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

deploy:cloud:functions:production:
  image: $CI_REGISTRY_IMAGE/build_functions:latest
  stage: deploy_web
  needs:
  - build_web_production
  before_script:
  - cd functions
  - ln -s /functions/node_modules node_modules
  - echo "$GOOGLE_SERVICE_ACCOUNT_DEVELOP" > service_accounts/serv_account_key_develop.json
  ...

fix(settings): keep integrations settings popup reopenable after save (AT-2243)
  __tests__/UIComponents/ReactTinyPopoverReopen.test.js
  components/SettingsView/Integrations/IntegrationsSettings.js
  functions/Assistant/assistantHeartbeat.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/openRouterChatClient.js
  functions/Assistant/openRouterChatClient.test.js
  functions/Email/emailDailyTopic.js
  functions/WhatsApp/whatsAppDailyTopic.js
  functions/WhatsApp/whatsAppDailyTopic.test.js
  replacement_node_modules/react-tiny-popover/dist/Popover.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2243-integrations-popup-reopen' into 'master'
  functions/Assistant/assistantHeartbeat.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/openRouterChatClient.js
  functions/Assistant/openRouterChatClient.test.js
  functions/Email/emailDailyTopic.js
  functions/WhatsApp/whatsAppDailyTopic.js
  functions/WhatsApp/whatsAppDailyTopic.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Reduce assistant token costs and add email model controls
  components/AssistantDetailedView/Customizations/AssistantCustomizations.js
  components/AssistantDetailedView/Customizations/AssistantEmail/InboundEmailModelProperty.js
  components/AssistantDetailedView/Customizations/AssistantEmail/InboundEmailModelProperty.test.js
  components/AssistantDetailedView/Customizations/UpdateFromTemplate/UpdateFromTemplate.js
  components/AssistantDetailedView/Customizations/UpdateFromTemplate/UpdateFromTemplate.test.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/attachmentToolHandoff.js
  functions/Assistants/templateMerge.js
  functions/Assistants/templateMerge.test.js
  functions/Email/emailAssistantBridge.js
  functions/Email/emailAssistantBridge.test.js
  i18n/modelTranslations.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/Assistants/assistantsFirestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(tasks): keep the focus task's section pinned while its editor is open (AT-2249)
  components/AssistantDetailedView/Customizations/AssistantCustomizations.js
  components/AssistantDetailedView/Customizations/AssistantEmail/InboundEmailModelProperty.js
  components/AssistantDetailedView/Customizations/AssistantEmail/InboundEmailModelProperty.test.js
  components/AssistantDetailedView/Customizations/UpdateFromTemplate/UpdateFromTemplate.js
  components/AssistantDetailedView/Customizations/UpdateFromTemplate/UpdateFromTemplate.test.js
  components/TaskListView/OpenTasksView/MainSection.js
  components/TaskListView/OpenTasksView/focusSectionPin.js
  components/TaskListView/OpenTasksView/focusSectionPin.test.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/attachmentToolHandoff.js
  functions/Assistants/templateMerge.js
  functions/Assistants/templateMerge.test.js
  functions/Email/emailAssistantBridge.js
  functions/Email/emailAssistantBridge.test.js
  i18n/modelTranslations.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/Assistants/assistantsFirestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(tasks): hold the focus task's list position while an editor is open (AT-2249)
  components/TaskListView/OpenTasksView/TasksList.js
  components/TaskListView/OpenTasksView/focusSectionPin.js
  components/TaskListView/OpenTasksView/focusSectionPin.test.js
Due: none

Merge branch 'ai/at-2249-focus-task-position-jump' into 'master'
  components/AssistantDetailedView/Customizations/AssistantCustomizations.js
  components/AssistantDetailedView/Customizations/AssistantEmail/InboundEmailModelProperty.js
  components/AssistantDetailedView/Customizations/AssistantEmail/InboundEmailModelProperty.test.js
  components/AssistantDetailedView/Customizations/UpdateFromTemplate/UpdateFromTemplate.js
  components/AssistantDetailedView/Customizations/UpdateFromTemplate/UpdateFromTemplate.test.js
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
  functions/Assistant/attachmentToolHandoff.js
  functions/Assistants/templateMerge.js
  functions/Assistants/templateMerge.test.js
  functions/Email/emailAssistantBridge.js
  functions/Email/emailAssistantBridge.test.js
  i18n/modelTranslations.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/Assistants/assistantsFirestore.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(tasks): make the backend pick the same next focus task as the frontend (AT-2251)
  functions/Tasks/autoPostponeTasksCallable.js
  functions/Tasks/autoPostponeTasksCallable.test.js
  functions/Tasks/autoPostponeTasksCloud.js
  functions/Tasks/workflowFocusHandoff.js
  functions/Tasks/workflowFocusHandoff.test.js
  functions/shared/FocusTaskService.js
  functions/shared/FocusTaskService.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(tasks): apply the imminent-calendar rule to the optimistic focus pick (AT-2251)
  utils/backends/Tasks/focusCalendarOptimistic.test.js
  utils/backends/Tasks/tasksFirestore.js
Due: none

fix(reminders): deliver WhatsApp-set reminders back over WhatsApp (AT-2211)
  CLAUDE.md
  functions/Assistant/assistantHelper.js
  functions/PushNotifications/pushNotifications.js
  functions/PushNotifications/pushNotifications.test.js
  functions/Tasks/reminderChannels.js
  functions/Tasks/reminderChannels.test.js
  functions/Tasks/taskAlertsCloud.js
  functions/Tasks/taskAlertsCloud.test.js
  functions/shared/AlertService.js
  functions/shared/AlertService.test.js
  functions/shared/TaskUpdateService.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

feat(tasks): merge calendar and email tasks into the normal task list (AT-2252)
  CLAUDE.md
  components/DragSystem/DroppableTaskList.js
  components/GoalDetailedView/TasksView/GoalOpenTasksCalendarSection.js
  components/GoalDetailedView/TasksView/GoalOpenTasksEmailSection.js
  components/GoalDetailedView/TasksView/GoalOpenTasksSections.js
  components/GoalDetailedView/TasksView/GoalOpenTasksSections.test.js
  components/GoalDetailedView/TasksView/GoalTasksList.js
  components/GoalDetailedView/TasksView/OpenDateHeader.js
  components/HashtagFilters/FilterHelpers/FilterTasks.js
  components/TaskListView/Header/OpenTasksDateHeader.js
  components/TaskListView/OpenTasksView/CalendarSection.js
  components/TaskListView/OpenTasksView/CalendarSectionContainer.js
  components/TaskListView/OpenTasksView/MainSection.js
  components/TaskListView/OpenTasksView/TasksList.js
  components/TaskListView/OpenTasksView/TasksSections.js
  components/TaskListView/OpenTasksView/TasksSections.test.js
  components/TaskListView/PriorityFilters/taskPriorityFilterHelper.js
  components/TaskListView/PriorityFilters/taskPriorityFilterHelper.test.js
  components/UIComponents/CalendarSyncButton.js
  components/UIComponents/CalendarSyncButton.test.js
  components/UIComponents/ReloadCalendar.js
  functions/Assistant/assistantHelper.js
  functions/PushNotifications/pushNotifications.js
  functions/PushNotifications/pushNotifications.test.js
  functions/Tasks/reminderChannels.js
  functions/Tasks/reminderChannels.test.js
  functions/Tasks/taskAlertsCloud.js
  functions/Tasks/taskAlertsCloud.test.js
  functions/shared/AlertService.js
  functions/shared/AlertService.test.js
  functions/shared/TaskUpdateService.js
  utils/backends/Tasks/openGoalTasks.js
  utils/backends/openTasks.js
  utils/backends/openTasks.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2211-whatsapp-reminder-channel' into 'master'
  CLAUDE.md
  components/DragSystem/DroppableTaskList.js
  components/GoalDetailedView/TasksView/GoalOpenTasksCalendarSection.js
  components/GoalDetailedView/TasksView/GoalOpenTasksEmailSection.js
  components/GoalDetailedView/TasksView/GoalOpenTasksSections.js
  components/GoalDetailedView/TasksView/GoalOpenTasksSections.test.js
  components/GoalDetailedView/TasksView/GoalTasksList.js
  components/GoalDetailedView/TasksView/OpenDateHeader.js
  components/HashtagFilters/FilterHelpers/FilterTasks.js
  components/TaskListView/Header/OpenTasksDateHeader.js
  components/TaskListView/OpenTasksView/CalendarSection.js
  components/TaskListView/OpenTasksView/CalendarSectionContainer.js
  components/TaskListView/OpenTasksView/MainSection.js
  components/TaskListView/OpenTasksView/TasksList.js
  components/TaskListView/OpenTasksView/TasksSections.js
  components/TaskListView/OpenTasksView/TasksSections.test.js
  components/TaskListView/PriorityFilters/taskPriorityFilterHelper.js
  components/TaskListView/PriorityFilters/taskPriorityFilterHelper.test.js
  components/UIComponents/CalendarSyncButton.js
  components/UIComponents/CalendarSyncButton.test.js
  components/UIComponents/ReloadCalendar.js
  functions/Assistant/assistantHelper.js
  functions/PushNotifications/pushNotifications.js
  functions/PushNotifications/pushNotifications.test.js
  functions/Tasks/reminderChannels.js
  functions/Tasks/reminderChannels.test.js
  functions/Tasks/taskAlertsCloud.js
  functions/Tasks/taskAlertsCloud.test.js
  functions/shared/AlertService.js
  functions/shared/AlertService.test.js
  functions/shared/TaskUpdateService.js
  utils/backends/Tasks/openGoalTasks.js
  utils/backends/openTasks.js
  utils/backends/openTasks.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2252-merge-calendar-email-task-sections' into 'master'
  components/DragSystem/DroppableTaskList.js
  components/GoalDetailedView/TasksView/GoalOpenTasksCalendarSection.js
  components/GoalDetailedView/TasksView/GoalOpenTasksEmailSection.js
  components/GoalDetailedView/TasksView/GoalOpenTasksSections.js
  components/GoalDetailedView/TasksView/GoalOpenTasksSections.test.js
  components/GoalDetailedView/TasksView/GoalTasksList.js
  components/GoalDetailedView/TasksView/OpenDateHeader.js
  components/HashtagFilters/FilterHelpers/FilterTasks.js
  components/TaskListView/Header/OpenTasksDateHeader.js
  components/TaskListView/OpenTasksView/CalendarSection.js
  components/TaskListView/OpenTasksView/CalendarSectionContainer.js
  components/TaskListView/OpenTasksView/MainSection.js
  components/TaskListView/OpenTasksView/TasksList.js
  components/TaskListView/OpenTasksView/TasksSections.js
  components/TaskListView/OpenTasksView/TasksSections.test.js
  components/TaskListView/PriorityFilters/taskPriorityFilterHelper.js
  components/TaskListView/PriorityFilters/taskPriorityFilterHelper.test.js
  components/UIComponents/CalendarSyncButton.js
  components/UIComponents/CalendarSyncButton.test.js
  components/UIComponents/ReloadCalendar.js
  utils/backends/Tasks/openGoalTasks.js
  utils/backends/openTasks.js
  utils/backends/openTasks.test.js
Due: none

fix(premium): repair undefined palette references in StripePremiumTab
  components/Premium/PremiumTab/StripePremiumTab.js
Due: none

build: make worktree setup explicit and stop a silent no-op web build
  CLAUDE.md
  package.json
  setup-worktree.sh
  web-bundler/check-node.js
Due: modules_cache

Merge remote-tracking branch 'origin/master' into claude/determined-brattain-50e2c7
  CLAUDE.md
  components/DragSystem/DroppableTaskList.js
  components/GoalDetailedView/TasksView/GoalOpenTasksCalendarSection.js
  components/GoalDetailedView/TasksView/GoalOpenTasksEmailSection.js
  components/GoalDetailedView/TasksView/GoalOpenTasksSections.js
  components/GoalDetailedView/TasksView/GoalOpenTasksSections.test.js
  components/GoalDetailedView/TasksView/GoalTasksList.js
  components/GoalDetailedView/TasksView/OpenDateHeader.js
  components/HashtagFilters/FilterHelpers/FilterTasks.js
  components/TaskListView/Header/OpenTasksDateHeader.js
  components/TaskListView/OpenTasksView/CalendarSection.js
  components/TaskListView/OpenTasksView/CalendarSectionContainer.js
  components/TaskListView/OpenTasksView/MainSection.js
  components/TaskListView/OpenTasksView/TasksList.js
  components/TaskListView/OpenTasksView/TasksSections.js
  components/TaskListView/OpenTasksView/TasksSections.test.js
  components/TaskListView/PriorityFilters/taskPriorityFilterHelper.js
  components/TaskListView/PriorityFilters/taskPriorityFilterHelper.test.js
  components/UIComponents/CalendarSyncButton.js
  components/UIComponents/CalendarSyncButton.test.js
  components/UIComponents/ReloadCalendar.js
  functions/Assistant/assistantHelper.js
  functions/PushNotifications/pushNotifications.js
  functions/PushNotifications/pushNotifications.test.js
  functions/Tasks/reminderChannels.js
  functions/Tasks/reminderChannels.test.js
  functions/Tasks/taskAlertsCloud.js
  functions/Tasks/taskAlertsCloud.test.js
  functions/shared/AlertService.js
  functions/shared/AlertService.test.js
  functions/shared/TaskUpdateService.js
  utils/backends/Tasks/openGoalTasks.js
  utils/backends/openTasks.js
  utils/backends/openTasks.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(web): clear console warnings, MyDay crash, and dev-server Google sign-in
  .gitignore
  __tests__/LoginScreen.test.js
  components/ChatsView/ChatDV/EditorView/MessageItem.js
  components/ChatsView/DateHeader.js
  components/ChatsView/EditChat.js
  components/ContactsView/ContactItem.js
  components/Feeds/FeedsObjects/AssistantObjectHeader.js
  components/Feeds/FeedsObjects/ContactObjectHeader.js
  components/Feeds/FeedsObjects/GoalObjectHeader.js
  components/Feeds/FeedsObjects/NoteObjectHeader.js
  components/Feeds/FeedsObjects/SkillObjectHeader.js
  components/Feeds/FeedsObjects/TaskObjectHeader.js
  components/Feeds/FeedsObjects/UserObjectHeader.js
  components/Line.js
  components/MyDayView/MyDayTasks/MyDayOpenTasks/myDayOpenTasksIntervals.js
  components/MyDayView/MyDayTasks/MyDayOpenTasks/myDayOpenTasksSorting.test.js
  components/NotesView/NotesItem.js
  components/TaskListView/Header/DateHeader.js
  components/TaskListView/Header/MainSectionTabsHeader.js
  components/TaskListView/Header/UserTasksHeader.js
  components/TaskListView/OKRs/OKRItem.js
  components/TaskListView/TaskItem/TaskPresentation/TaskPresentation.js
  components/UIComponents/FloatModals/PreConfigTaskGeneratorModal/GlobalPreConfigTaskModal.js
  components/UIComponents/Spinner.js
  components/UIControls/GhostButton.js
  components/UIControls/LogInButton.js
  components/UIControls/MultiToggleSwitch/MultiToggleSwitch.js
  package.json
  utils/BackendBridge.js
  utils/backends/firestore.js
  web-bundler/webpack.config.js
Due: modules_cache

fix(mobile): keep the focused input visible when the keyboard opens
  AppNavigator.js
  __tests__/WebShellScrollContainers.test.js
  utils/scrollUtils.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
  web-bundler/index.html
  web/index.html
Due: none

Reconcile terminated VM workers
  AppNavigator.js
  __tests__/WebShellScrollContainers.test.js
  functions/Assistant/vmCloudRunLauncher.js
  functions/Assistant/vmCloudRunLauncher.test.js
  functions/Assistant/vmJobReconciliation.js
  functions/Assistant/vmJobReconciliation.test.js
  functions/Assistant/vmJobRunner.js
  functions/Gold/goldHelper.js
  functions/Gold/goldHelper.test.js
  functions/Gold/goldTransactions.js
  functions/index.js
  utils/scrollUtils.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
  web-bundler/index.html
  web/index.html
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Ignore Claude Code local state
  .gitignore
Due: none

fix(mobile): reset the browser keyboard scroll once, not on every event
  .gitignore
  AppNavigator.js
  __tests__/WebShellScrollContainers.test.js
  functions/Assistant/vmCloudRunLauncher.js
  functions/Assistant/vmCloudRunLauncher.test.js
  functions/Assistant/vmJobReconciliation.js
  functions/Assistant/vmJobReconciliation.test.js
  functions/Assistant/vmJobRunner.js
  functions/Gold/goldHelper.js
  functions/Gold/goldHelper.test.js
  functions/Gold/goldTransactions.js
  functions/index.js
  utils/scrollUtils.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
  web-bundler/index.html
  web/index.html
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(web): silence production console noise and guard a global-data crash
  .gitignore
  AppNavigator.js
  __tests__/WebShellScrollContainers.test.js
  components/ChatsView/ChatDV/EditorView/MessageItem.js
  components/ContactsView/ContactItem.js
  components/Feeds/FeedsObjects/AssistantObjectHeader.js
  components/Feeds/FeedsObjects/ContactObjectHeader.js
  components/Feeds/FeedsObjects/GoalObjectHeader.js
  components/Feeds/FeedsObjects/NoteObjectHeader.js
  components/Feeds/FeedsObjects/SkillObjectHeader.js
  components/Feeds/FeedsObjects/TaskObjectHeader.js
  components/Feeds/FeedsObjects/UserObjectHeader.js
  components/GoalsView/GoalCommentsWrapper.js
  components/GoalsView/GoalItemPresentation.js
  components/NotesView/NotesItem.js
  components/TaskListView/OpenTasksView/OpenTasksByProjectHandler.js
  components/TaskListView/OpenTasksView/SwipeableGeneralTasksHeader.js
  components/TaskListView/TaskItem/TaskPresentation/TaskPresentation.js
  functions/Assistant/vmCloudRunLauncher.js
  functions/Assistant/vmCloudRunLauncher.test.js
  functions/Assistant/vmJobReconciliation.js
  functions/Assistant/vmJobReconciliation.test.js
  functions/Assistant/vmJobRunner.js
  functions/Gold/goldHelper.js
  functions/Gold/goldHelper.test.js
  functions/Gold/goldTransactions.js
  functions/index.js
  redux/store.js
  utils/Geolocation/GeolocationHelper.js
  utils/InitialLoad/loggedUserHelper.js
  utils/UserDataCache.js
  utils/backends/Premium/stripePremiumFirestore.js
  utils/backends/firestore.js
  utils/scrollUtils.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
  web-bundler/index.html
  web/index.html
  web/service-worker-handler.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(premium): repair checkUserPremiumStatus and stop downgrading on failure
  functions/Premium/stripePremiumChecker.js
  utils/InitialLoad/loggedUserHelper.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(notes): restart numbered lists after any non-ordered block (AT-2254)
  components/NotesView/NotesDV/EditorView/listNumbering.test.js
  components/NotesView/NotesDV/EditorView/toolbar-styles.css
Due: none

feat(chats): preview unread messages under each topic in the chat list
  components/ChatsView/ChatDV/EditorView/MessageItemBody.js
  components/ChatsView/ChatDV/EditorView/MessageItemContent.js
  components/ChatsView/ChatItem.js
  components/ChatsView/ChatItem.loadingSelector.test.js
  components/ChatsView/ChatItem.unreadPreview.test.js
  components/ChatsView/ChatItemUnreadMessage.js
  components/ChatsView/ChatItemUnreadMessages.js
  components/ChatsView/ChatItemUnreadMessages.test.js
  components/ChatsView/Utils/unreadChatFilter.js
  components/ChatsView/Utils/unreadChatFilter.test.js
  components/NotesView/NotesDV/EditorView/listNumbering.test.js
  components/NotesView/NotesDV/EditorView/toolbar-styles.css
  hooks/Chats/unreadChatMessages.js
  hooks/Chats/unreadChatMessages.test.js
  hooks/Chats/useGetUnreadChatMessages.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

fix(chats): open the topic from the earlier-unread line, and match the badge exactly
  components/ChatsView/ChatItem.unreadPreview.test.js
  components/ChatsView/ChatItemUnreadMessages.js
  components/ChatsView/ChatItemUnreadMessages.test.js
  components/ChatsView/Utils/unreadChatFilter.js
  components/ChatsView/Utils/unreadChatFilter.test.js
Due: none

Merge branch 'ai/at-2248-mobile-keyboard-viewport' into 'master'
  AppNavigator.js
  __tests__/WebShellScrollContainers.test.js
  components/ChatsView/ChatDV/EditorView/MessageItemBody.js
  components/ChatsView/ChatDV/EditorView/MessageItemContent.js
  components/ChatsView/ChatItem.js
  components/ChatsView/ChatItem.loadingSelector.test.js
  components/ChatsView/ChatItem.unreadPreview.test.js
  components/ChatsView/ChatItemUnreadMessage.js
  components/ChatsView/ChatItemUnreadMessages.js
  components/ChatsView/ChatItemUnreadMessages.test.js
  components/ChatsView/Utils/unreadChatFilter.js
  components/ChatsView/Utils/unreadChatFilter.test.js
  hooks/Chats/unreadChatMessages.js
  hooks/Chats/unreadChatMessages.test.js
  hooks/Chats/useGetUnreadChatMessages.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/scrollUtils.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
  web-bundler/index.html
  web/index.html
Due: none

Merge branch 'ai/at2254-ordered-list-restart' into 'master'
  components/NotesView/NotesDV/EditorView/listNumbering.test.js
  components/NotesView/NotesDV/EditorView/toolbar-styles.css
Due: none

feat(search): filter search results to only objects I created (AT-2258)
  components/GlobalSearchAlgolia/Filter/CreatedByMeOption.js
  components/GlobalSearchAlgolia/Filter/CreatedByMeOption.test.js
  components/GlobalSearchAlgolia/Filter/CreatedByMeTag.js
  components/GlobalSearchAlgolia/Filter/ProjectFilter.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/GlobalSearchAlgolia/searchFilters.js
  components/GlobalSearchAlgolia/searchFilters.test.js
  components/GlobalSearchAlgolia/searchHelper.js
  components/GlobalSearchAlgolia/searchIndexes.js
  components/NotesView/NotesDV/EditorView/listNumbering.test.js
  components/NotesView/NotesDV/EditorView/toolbar-styles.css
  components/UIComponents/FloatModals/SelectProjectModal/SelectProjectModalInSearch.js
  components/Workstreams/WorkstreamConstants.js
  components/Workstreams/WorkstreamHelper.js
  functions/ParsingTextHelper.js
  functions/searchCreatorFacets.test.js
  functions/searchHelper.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(tasks): stop pinning calendar tasks to the top of their group (AT-2259)
  AppNavigator.js
  __tests__/WebShellScrollContainers.test.js
  components/ChatsView/ChatDV/ChatBoard.js
  components/ChatsView/ChatDV/EditorView/MessageItemBody.js
  components/ChatsView/ChatDV/EditorView/MessageItemContent.js
  components/ChatsView/ChatDV/useLinkedEmailArchive.js
  components/ChatsView/ChatDV/useLinkedEmailArchive.test.js
  components/ChatsView/ChatItem.js
  components/ChatsView/ChatItem.loadingSelector.test.js
  components/ChatsView/ChatItem.unreadPreview.test.js
  components/ChatsView/ChatItemUnreadMessage.email.test.js
  components/ChatsView/ChatItemUnreadMessage.js
  components/ChatsView/ChatItemUnreadMessages.js
  components/ChatsView/ChatItemUnreadMessages.test.js
  components/ChatsView/Utils/unreadChatFilter.js
  components/ChatsView/Utils/unreadChatFilter.test.js
  components/NotesView/NotesDV/EditorView/listNumbering.test.js
  components/NotesView/NotesDV/EditorView/toolbar-styles.css
  functions/GoogleCalendarTasks/calendarTasks.js
  functions/Utils/MapDataFuncions.js
  functions/shared/FocusTaskService.js
  functions/shared/calendarTaskSortIndex.js
  functions/shared/calendarTaskSortIndex.test.js
  hooks/Chats/unreadChatMessages.js
  hooks/Chats/unreadChatMessages.test.js
  hooks/Chats/useGetUnreadChatMessages.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/CalendarTaskSortIndex.js
  utils/CalendarTaskSortIndex.test.js
  utils/backends/Tasks/tasksFirestore.js
  utils/backends/firestore.js
  utils/scrollUtils.js
  utils/virtualKeyboard.js
  utils/virtualKeyboard.test.js
  web-bundler/index.html
  web/index.html
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(popups): make Escape close the Search popup and every other popup (AT-2257)
  AppNavigator.js
  CLAUDE.md
  browser-tests/README.md
  browser-tests/at2257/harness.entry.js
  browser-tests/at2257/run.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/NotesView/NotesDV/EditorView/listNumbering.test.js
  components/NotesView/NotesDV/EditorView/toolbar-styles.css
  components/UIComponents/FloatModals/SelectProjectModal/SelectProjectModalInSearch.js
  functions/GoogleCalendarTasks/calendarTasks.js
  functions/Utils/MapDataFuncions.js
  functions/shared/FocusTaskService.js
  functions/shared/calendarTaskSortIndex.js
  functions/shared/calendarTaskSortIndex.test.js
  hooks/useEscapeKey.js
  hooks/useEscapeKey.test.js
  utils/CalendarTaskSortIndex.js
  utils/CalendarTaskSortIndex.test.js
  utils/backends/Tasks/tasksFirestore.js
  utils/backends/firestore.js
  utils/escapeStack.js
  utils/escapeStack.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2259-calendar-task-ordering' into 'master'
  AppNavigator.js
  CLAUDE.md
  browser-tests/README.md
  browser-tests/at2257/harness.entry.js
  browser-tests/at2257/run.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/NotesView/NotesDV/EditorView/listNumbering.test.js
  components/NotesView/NotesDV/EditorView/toolbar-styles.css
  components/UIComponents/FloatModals/SelectProjectModal/SelectProjectModalInSearch.js
  functions/GoogleCalendarTasks/calendarTasks.js
  functions/Utils/MapDataFuncions.js
  functions/shared/FocusTaskService.js
  functions/shared/calendarTaskSortIndex.js
  functions/shared/calendarTaskSortIndex.test.js
  hooks/useEscapeKey.js
  hooks/useEscapeKey.test.js
  utils/CalendarTaskSortIndex.js
  utils/CalendarTaskSortIndex.test.js
  utils/backends/Tasks/tasksFirestore.js
  utils/backends/firestore.js
  utils/escapeStack.js
  utils/escapeStack.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2256-chat-unread-previews' into 'master'
  components/ChatsView/ChatDV/ChatBoard.js
  components/ChatsView/ChatDV/EditorView/MessageItemBody.js
  components/ChatsView/ChatDV/EditorView/MessageItemContent.js
  components/ChatsView/ChatDV/useLinkedEmailArchive.js
  components/ChatsView/ChatDV/useLinkedEmailArchive.test.js
  components/ChatsView/ChatItem.js
  components/ChatsView/ChatItem.loadingSelector.test.js
  components/ChatsView/ChatItem.unreadPreview.test.js
  components/ChatsView/ChatItemUnreadMessage.email.test.js
  components/ChatsView/ChatItemUnreadMessage.js
  components/ChatsView/ChatItemUnreadMessages.js
  components/ChatsView/ChatItemUnreadMessages.test.js
  components/ChatsView/Utils/unreadChatFilter.js
  components/ChatsView/Utils/unreadChatFilter.test.js
  hooks/Chats/unreadChatMessages.js
  hooks/Chats/unreadChatMessages.test.js
  hooks/Chats/useGetUnreadChatMessages.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Merge branch 'ai/at-2257-escape-closes-popups' into 'master'
  AppNavigator.js
  CLAUDE.md
  browser-tests/README.md
  browser-tests/at2257/harness.entry.js
  browser-tests/at2257/run.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/UIComponents/FloatModals/SelectProjectModal/SelectProjectModalInSearch.js
  hooks/useEscapeKey.js
  hooks/useEscapeKey.test.js
  utils/escapeStack.js
  utils/escapeStack.test.js
Due: none

test(search): pin the created-by-me wiring end to end (AT-2258)
  components/ChatsView/ChatDV/EditorView/MessageItemContent.js
  components/ChatsView/ChatDV/EditorView/StopAssistantRunButton.js
  components/ChatsView/ChatDV/EditorView/StopAssistantRunButton.test.js
  components/ChatsView/ChatDV/EditorView/stopAssistantRunRequests.js
  components/ChatsView/Utils/ChatHelper.js
  components/ChatsView/Utils/messageTimestamps.js
  components/GlobalSearchAlgolia/Filter/CreatedByMeOption.js
  components/GlobalSearchAlgolia/Filter/CreatedByMeOption.test.js
  components/GlobalSearchAlgolia/Filter/CreatedByMeTag.js
  components/GlobalSearchAlgolia/Filter/ProjectFilter.js
  components/GlobalSearchAlgolia/GlobalSearchModal.createdByMe.test.js
  components/GlobalSearchAlgolia/GlobalSearchModal.js
  components/GlobalSearchAlgolia/searchFilters.js
  components/GlobalSearchAlgolia/searchFilters.test.js
  components/GlobalSearchAlgolia/searchHelper.js
  components/GlobalSearchAlgolia/searchIndexes.js
  components/NotesView/NotesDV/EditorView/listNumbering.test.js
  components/NotesView/NotesDV/EditorView/toolbar-styles.css
  components/UIComponents/FloatModals/RichCommentModal/CommentsList.js
  components/UIComponents/FloatModals/RichCommentModal/CommentsList.test.js
  components/UIComponents/FloatModals/SelectProjectModal/SelectProjectModalInSearch.js
  components/Workstreams/WorkstreamConstants.js
  components/Workstreams/WorkstreamHelper.js
  functions/ParsingTextHelper.js
  functions/searchCreatorFacets.test.js
  functions/searchHelper.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*
