Repository alldoneapp/alldoneapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modules_cache, firebase_cmd_cache, functions_cache, deploy:cloud:functions:staging, deploy:cloud:functions:production

Path conditions:
  modules_cache: any of: package.json, package-lock.json
  firebase_cmd_cache: any of: ci/Dockerfile_firebase
  functions_cache: any of: ci/Dockerfile_functions
  deploy:cloud:functions:staging: any of: functions/**/*
  deploy:cloud:functions:production: any of: functions/**/*

fix(undo): keep the Undo button visible for long task names (AT-2626)
  CLAUDE.md
  components/AssistantDetailedView/Header/Header.js
  components/AssistantDetailedView/Header/LastEdition.js
  components/ChatsView/ChatDV/TagList.js
  components/GoalDetailedView/Header/Header.js
  components/GoalDetailedView/Header/LastEdition.js
  components/NotesView/NotesDV/TagList.js
  components/SkillDetailedView/Header/Header.js
  components/SkillDetailedView/Header/LastEdition.js
  components/TaskDetailedView/Header/TagList.js
  components/UIComponents/DvTitleLayout.js
  components/UIComponents/DvTitleLayout.test.js
  components/Undo/UndoActionBar.interactions.test.js
  components/Undo/UndoActionBar.js
  components/Undo/UndoActionBar.test.js
  components/Undo/undoActionBarStyles.js
  components/Undo/undoActionLabel.js
  components/Undo/undoActionLabel.test.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmTokenPricing.js
  functions/Assistant/vmTokenPricing.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

fix(undo): keep the Undo button visible for long task names (AT-2626)
  components/AssistantDetailedView/Header/Header.js
  components/AssistantDetailedView/Header/LastEdition.js
  components/ChatsView/ChatDV/TagList.js
  components/GoalDetailedView/Header/Header.js
  components/GoalDetailedView/Header/LastEdition.js
  components/NotesView/NotesDV/TagList.js
  components/SkillDetailedView/Header/Header.js
  components/SkillDetailedView/Header/LastEdition.js
  components/TaskDetailedView/Header/TagList.js
  components/UIComponents/DvTitleLayout.js
  components/UIComponents/DvTitleLayout.test.js
  components/Undo/UndoActionBar.interactions.test.js
  components/Undo/UndoActionBar.js
  components/Undo/UndoActionBar.test.js
  components/Undo/undoActionBarStyles.js
  components/Undo/undoActionLabel.js
  components/Undo/undoActionLabel.test.js
Due: none

Merge branch 'ai/anthropic-opus-5-5-gold-pricing' into 'master'
  CLAUDE.md
  components/AssistantDetailedView/Header/Header.js
  components/AssistantDetailedView/Header/LastEdition.js
  components/ChatsView/ChatDV/TagList.js
  components/GoalDetailedView/Header/Header.js
  components/GoalDetailedView/Header/LastEdition.js
  components/NotesView/NotesDV/TagList.js
  components/SkillDetailedView/Header/Header.js
  components/SkillDetailedView/Header/LastEdition.js
  components/TaskDetailedView/Header/TagList.js
  components/UIComponents/DvTitleLayout.js
  components/UIComponents/DvTitleLayout.test.js
  components/Undo/UndoActionBar.interactions.test.js
  components/Undo/UndoActionBar.js
  components/Undo/UndoActionBar.test.js
  components/Undo/undoActionBarStyles.js
  components/Undo/undoActionLabel.js
  components/Undo/undoActionLabel.test.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmTokenPricing.js
  functions/Assistant/vmTokenPricing.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/anthropic-opus-5-5-gold-pricing' into 'master'
  components/AssistantDetailedView/Header/Header.js
  components/AssistantDetailedView/Header/LastEdition.js
  components/ChatsView/ChatDV/TagList.js
  components/GoalDetailedView/Header/Header.js
  components/GoalDetailedView/Header/LastEdition.js
  components/NotesView/NotesDV/TagList.js
  components/SkillDetailedView/Header/Header.js
  components/SkillDetailedView/Header/LastEdition.js
  components/TaskDetailedView/Header/TagList.js
  components/UIComponents/DvTitleLayout.js
  components/UIComponents/DvTitleLayout.test.js
Due: none

Merge branch 'ai/at-2626-undo-bar-long-task-name' into 'master'
  CLAUDE.md
  components/AssistantDetailedView/Header/Header.js
  components/AssistantDetailedView/Header/LastEdition.js
  components/ChatsView/ChatDV/TagList.js
  components/GoalDetailedView/Header/Header.js
  components/GoalDetailedView/Header/LastEdition.js
  components/NotesView/NotesDV/TagList.js
  components/SkillDetailedView/Header/Header.js
  components/SkillDetailedView/Header/LastEdition.js
  components/TaskDetailedView/Header/TagList.js
  components/UIComponents/DvTitleLayout.js
  components/UIComponents/DvTitleLayout.test.js
  functions/Assistant/vmAgentModelCatalog.test.js
  functions/Assistant/vmTokenPricing.js
  functions/Assistant/vmTokenPricing.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Merge branch 'ai/at-2626-undo-bar-long-task-name' into 'master'
  components/Undo/UndoActionBar.interactions.test.js
  components/Undo/UndoActionBar.js
  components/Undo/UndoActionBar.test.js
  components/Undo/undoActionBarStyles.js
  components/Undo/undoActionLabel.js
  components/Undo/undoActionLabel.test.js
Due: none

Keep detail title ellipsis clear of metadata
  components/AssistantDetailedView/Header/Header.js
  components/AssistantDetailedView/Header/TitlePresentation.js
  components/ChatsView/ChatDV/ChatTitle.js
  components/ChatsView/ChatDV/Header.js
  components/GoalDetailedView/Header/Header.js
  components/GoalDetailedView/Header/TitlePresentation.js
  components/NotesView/NotesDV/Header.js
  components/NotesView/NotesDV/NoteTitlePresentation.js
  components/SkillDetailedView/Header/Title.js
  components/SkillDetailedView/Header/TitlePresentation.js
  components/UIComponents/DvTitleLayout.js
  components/UIComponents/DvTitleLayout.test.js
Due: none

Shorten mobile detail edit timestamp
  components/UIComponents/DvTitleLayout.js
  components/UIComponents/DvTitleLayout.test.js
  hooks/useLastEditDate.js
Due: none

Fix cloud contact moves across project permissions
  functions/Chats/copyProjectMoveChat.js
  functions/Chats/copyProjectMoveChat.test.js
  functions/shared/contactProjectMove.test.js
  functions/shared/moveNoteToDifferentProject.js
  functions/shared/moveNoteToDifferentProject.test.js
  functions/shared/moveObjectToDifferentProject.js
  functions/shared/moveObjectToDifferentProject.test.js
  functions/shared/projectMovePrivacy.js
  utils/backends/Contacts/contactsFirestore.js
  utils/backends/Contacts/contactsFirestore.move.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Show contact project move progress in list and details
  components/ContactDetailedView/ContactDetailedView.js
  components/ContactDetailedView/Header/Header.js
  components/ContactsView/ContactItem.js
  components/UIComponents/ProjectMoveIndicator.js
  components/UIComponents/ProjectMoveIndicator.render.test.js
  components/UIComponents/ProjectMoveIndicator.test.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  utils/backends/projectMoves.contactIndicator.test.js
  utils/backends/projectMoves.js
  utils/projectMoveState.js
  utils/projectMoveState.test.js
Due: none

Update contact move access projection tests
  functions/shared/contactProjectMove.test.js
  utils/backends/accessProjection.js
  utils/backends/crossProjectAccessProjection.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Avoid reserved notes tool namespace
  functions/Assistant/assistantHelper.js
  functions/Assistant/assistantHelper.test.js
Due: deploy:cloud:functions:staging, deploy:cloud:functions:production

Hide automatic project move confirmation
  components/TaskListView/TaskItem/TaskPresentation/TaskRoutingTagPlacement.test.js
  components/TaskListView/TaskItem/TaskPresentation/useTaskRoutingActivity.js
  components/TaskListView/TaskItem/TaskPresentation/useTaskRoutingActivity.test.js
  utils/taskRoutingActivity.js
  utils/taskRoutingActivity.test.js
Due: none

Draw the Empty inbox year as a 3D skyline
  CLAUDE.md
  components/SettingsView/Profile/Achievements/AchievementsArea.js
  components/SettingsView/Profile/Achievements/AchievementsAreaSkyline.test.js
  components/SettingsView/Profile/Achievements/Skyline/EmptyInboxSkyline.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
  components/SettingsView/Profile/Achievements/Skyline/webglSupport.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
  package-lock.json
  package.json
  utils/backends/Users/skylineStatistics.js
  utils/backends/Users/skylineStatistics.test.js
Due: modules_cache

Resolve three to its ES module build in the web bundle
  web-bundler/webpack.config.js
Due: none

Recover stalled task writes after ten seconds
  PERFORMANCE_DIAGNOSTICS.md
  utils/backends/Tasks/taskCreationWriteRecovery.test.js
  utils/backends/Tasks/tasksFirestore.js
  utils/backends/firestore.js
  utils/backends/taskWriteMonitor.js
  utils/backends/taskWriteMonitor.test.js
  utils/connectionHealth.js
  utils/connectionHealth.test.js
Due: none

Redesign the Empty inbox skyline as a white, scroll-driven flyover
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/EmptyInboxSkyline.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
  i18n/translations/de.json
  i18n/translations/en.json
  i18n/translations/es.json
Due: none

Keep the skyline's ground fixed and look straight down mid-screen
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/EmptyInboxSkyline.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
Due: none

Fly the skyline the right way round when scrolling
  CLAUDE.md
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.test.js
Due: none

Make the skyline smaller and reserve room for leaning skyscrapers
  components/SettingsView/Profile/Achievements/Skyline/EmptyInboxSkyline.js
  components/SettingsView/Profile/Achievements/Skyline/skylineData.js
  components/SettingsView/Profile/Achievements/Skyline/skylineScene.js
Due: none
